<p>
    <span v-if="*|f2_result|* >= *|f41_result|* && *|f3_result|* <= *|f42_result|*">Text for Explore being Max and Develop being Min</span>
    <span v-if="*|f2_result|* >= *|f41_result|* && *|f4_result|* <= *|f42_result|*">Text for Explore being Max and Prove being Min</span>
    <span v-if="*|f2_result|* >= *|f41_result|* && *|f5_result|* <= *|f42_result|*">Text for Explore being Max and Monitor being Min</span>
    <span v-if="*|f3_result|* >= *|f41_result|* && *|f2_result|* <= *|f42_result|*">Text for Develop being Max and Explore being Min</span>
    <span v-if="*|f3_result|* >= *|f41_result|* && *|f4_result|* <= *|f42_result|*">Text for Develop being Max and Prove being Min</span>
    <span v-if="*|f3_result|* >= *|f41_result|* && *|f5_result|* <= *|f42_result|*">Text for Develop being Max and Monitor being Min</span>
    <span v-if="*|f4_result|* >= *|f41_result|* && *|f2_result|* <= *|f42_result|*">Text for Prove being Max and Explore being Min</span>
    <span v-if="*|f4_result|* >= *|f41_result|* && *|f3_result|* <= *|f42_result|*">Text for Prove being Max and Develop being Min</span>
    <span v-if="*|f4_result|* >= *|f41_result|* && *|f5_result|* <= *|f42_result|*">Text for Prove being Max and Monitor being Min</span>
    <span v-if="*|f5_result|* >= *|f41_result|* && *|f2_result|* <= *|f42_result|*">Text for Monitor being Max and Explore being Min</span>
    <span v-if="*|f5_result|* >= *|f41_result|* && *|f3_result|* <= *|f42_result|*">Text for Monitor being Max and Develop being Min</span>
    <span v-if="*|f5_result|* >= *|f41_result|* && *|f4_result|* <= *|f42_result|*">Text for Monitor being Max and Prove being Min</span>
</p>