<p class="font-medium"><strong>We have identified 9 key areas that produce capital portfolio
        inefficiencies:</strong><span class="font-small"><span style="color: rgb(141, 14, 132);"><br></span></span></p>
<ul>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">Flawed projects go all the way to the capex
                gate<br></span></span> </li>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">Too many projects overspend their
                budget</span></span> </li>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">Portfolio underspend</span></span> </li>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">Strategic projects are late</span></span> </li>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">Too much duplication between
                systems</span></span> </li>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">We have poor transparency across our
                portfolio</span></span> </li>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">Project reporting takes too much
                effort</span></span> </li>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">Small projects are burdened with too much
                process</span></span> </li>
    <li><span class="font-small"><span style="color: rgb(141, 14, 132);">We don't validate that we achieved the intended
                benefits</span></span> </li>
</ul>
<p class="font-medium"> <span class="font-small"> <strong>You identified the following challenges with your capital
            portfolio in order of priority:</strong></span></p>
<p> <span class="font-small"> <span sa-data-type="custom_variable">
            <span v-if="*|f1_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span>
            <span v-if="*|f4_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span>
            <span v-if="*|f3_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span>
            <span v-if="*|f8_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span>
            <span v-if="*|f2_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span>
            <span v-if="*|f5_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span>
            <span v-if="*|f6_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span>
            <span v-if="*|f9_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span>
            <span v-if="*|f7_result|*==10" style="color: rgb(18, 168, 178);">*|q21_position1_text|*</span> </span> <span
            sa-data-type="custom_variable"> <span v-if="*|f1_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> <span v-if="*|f4_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> <span v-if="*|f3_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> <span v-if="*|f8_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> <span v-if="*|f2_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> <span v-if="*|f5_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> <span v-if="*|f6_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> <span v-if="*|f9_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> <span v-if="*|f7_result|*==9" style="color: rgb(18, 168, 178);">,
                *|q21_position2_text|*</span> </span> <span sa-data-type="custom_variable"> <span
                v-if="*|f1_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> <span
                v-if="*|f4_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> <span
                v-if="*|f3_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> <span
                v-if="*|f8_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> <span
                v-if="*|f2_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> <span
                v-if="*|f5_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> <span
                v-if="*|f6_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> <span
                v-if="*|f9_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> <span
                v-if="*|f7_result|*==8" style="color: rgb(18, 168, 178);">, *|q21_position3_text|*</span> </span> <span
            sa-data-type="custom_variable"> <span v-if="*|f1_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> <span v-if="*|f4_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> <span v-if="*|f3_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> <span v-if="*|f8_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> <span v-if="*|f2_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> <span v-if="*|f5_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> <span v-if="*|f6_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> <span v-if="*|f9_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> <span v-if="*|f7_result|*==7" style="color: rgb(18, 168, 178);">,
                *|q21_position4_text|*</span> </span> <span sa-data-type="custom_variable"> <span
                v-if="*|f1_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> <span
                v-if="*|f4_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> <span
                v-if="*|f3_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> <span
                v-if="*|f8_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> <span
                v-if="*|f2_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> <span
                v-if="*|f5_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> <span
                v-if="*|f6_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> <span
                v-if="*|f9_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> <span
                v-if="*|f7_result|*==6" style="color: rgb(18, 168, 178);">, *|q21_position5_text|*</span> </span> <span
            sa-data-type="custom_variable"> <span v-if="*|f1_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> <span v-if="*|f4_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> <span v-if="*|f3_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> <span v-if="*|f8_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> <span v-if="*|f2_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> <span v-if="*|f5_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> <span v-if="*|f6_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> <span v-if="*|f9_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> <span v-if="*|f7_result|*==5" style="color: rgb(18, 168, 178);">,
                *|q21_position6_text|*</span> </span> <span sa-data-type="custom_variable"> <span
                v-if="*|f1_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> <span
                v-if="*|f4_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> <span
                v-if="*|f3_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> <span
                v-if="*|f8_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> <span
                v-if="*|f2_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> <span
                v-if="*|f5_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> <span
                v-if="*|f6_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> <span
                v-if="*|f9_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> <span
                v-if="*|f7_result|*==4" style="color: rgb(18, 168, 178);">, *|q21_position7_text|*</span> </span> <span
            sa-data-type="custom_variable"> <span v-if="*|f1_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> <span v-if="*|f4_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> <span v-if="*|f3_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> <span v-if="*|f8_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> <span v-if="*|f2_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> <span v-if="*|f5_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> <span v-if="*|f6_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> <span v-if="*|f9_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> <span v-if="*|f7_result|*==3" style="color: rgb(18, 168, 178);">,
                *|q21_position8_text|*</span> </span> <span sa-data-type="custom_variable"> <span
                v-if="*|f1_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> <span
                v-if="*|f4_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> <span
                v-if="*|f3_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> <span
                v-if="*|f8_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> <span
                v-if="*|f2_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> <span
                v-if="*|f5_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> <span
                v-if="*|f6_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> <span
                v-if="*|f9_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> <span
                v-if="*|f7_result|*==2" style="color: rgb(18, 168, 178);">, *|q21_position9_text|*</span> </span>
    </span><span class="font-small"><br></span></p>
<p><span class="font-small">With the challenges&nbsp;you have selected, we have provided practical guidance and
        actionable insights to help you solve these painpoints to&nbsp;optimise your capital
        portfolio.&nbsp;</span><span class="font-small">We know&nbsp;large enterprise organisations
        often&nbsp;experience different challenges across regions and teams. When we conduct our detailed
        analysis&nbsp;of an organisation's capital project and portfolio management procedures&nbsp;we often see that
        teams initially&nbsp;underestimate the negative impact of inefficent practices on their capital
        investments.&nbsp;</span> <span class="font-small">In order to understand the current health status of your
        capital portfolio, we recommend undergoing a rigorous analysis of your&nbsp;systems, people and
        processes.&nbsp;</span><span class="font-small">Our <a
            href="https://capexinsights.com/resources/what-does-your-capital-portfolio-current-state-reveal/"
            target="_blank">Business Case for Change</a>&nbsp;practice&nbsp;can help you&nbsp;uncover, in detail, your
        organisation's capital portfolio efficiency and potential.&nbsp;&nbsp;</span> <span
        class="font-small"><br></span></p>