section.final-page {
    background-image: url("https://assets.surveyanyplace.com/survey/1d1757de-3985-42d9-945b-2f682c7a1dbe/templates/4c0dd562-6164-4d08-9797-6e3765fbe8ac/f1RzIeZaQlyJ1atle5eS_01_810x1121.jpg");
    background-size: 810px 1122px;
    background-repeat: no-repeat;
}