.not-applicable-container {
    text-align: center;
    margin-top: 1.5em !important;
    font-size: large;
}

.answer-container {
    margin-top: 2em !important;
}

#language-container .answer-container {
    margin-top: 0 !important;
}


/* hide 2nd & 3rd star, for specific questions */

#question-2 .star-rating label:nth-of-type(2),
#question-2 .star-rating input:nth-of-type(2),
#question-2 .star-rating label:nth-of-type(3),
#question-2 .star-rating input:nth-of-type(3),
#question-4 .star-rating label:nth-of-type(2),
#question-4 .star-rating input:nth-of-type(2),
#question-4 .star-rating label:nth-of-type(3),
#question-4 .star-rating input:nth-of-type(3),
#question-5 .star-rating label:nth-of-type(2),
#question-5 .star-rating input:nth-of-type(2),
#question-5 .star-rating label:nth-of-type(3),
#question-5 .star-rating input:nth-of-type(3),
#question-6 .star-rating label:nth-of-type(2),
#question-6 .star-rating input:nth-of-type(2),
#question-6 .star-rating label:nth-of-type(3),
#question-6 .star-rating input:nth-of-type(3),
#question-7 .star-rating label:nth-of-type(2),
#question-7 .star-rating input:nth-of-type(2),
#question-7 .star-rating label:nth-of-type(3),
#question-7 .star-rating input:nth-of-type(3),
#question-8 .star-rating label:nth-of-type(2),
#question-8 .star-rating input:nth-of-type(2),
#question-8 .star-rating label:nth-of-type(3),
#question-8 .star-rating input:nth-of-type(3),
#question-9 .star-rating label:nth-of-type(2),
#question-9 .star-rating input:nth-of-type(2),
#question-9 .star-rating label:nth-of-type(3),
#question-9 .star-rating input:nth-of-type(3),
#question-10 .star-rating label:nth-of-type(2),
#question-10 .star-rating input:nth-of-type(2),
#question-10 .star-rating label:nth-of-type(3),
#question-10 .star-rating input:nth-of-type(3),
#question-11 .star-rating label:nth-of-type(2),
#question-11 .star-rating input:nth-of-type(2),
#question-11 .star-rating label:nth-of-type(3),
#question-11 .star-rating input:nth-of-type(3),
#question-13 .star-rating label:nth-of-type(2),
#question-13 .star-rating input:nth-of-type(2),
#question-13 .star-rating label:nth-of-type(3),
#question-13 .star-rating input:nth-of-type(3),
#question-16 .star-rating label:nth-of-type(2),
#question-16 .star-rating input:nth-of-type(2),
#question-16 .star-rating label:nth-of-type(3),
#question-16 .star-rating input:nth-of-type(3),
#question-17 .star-rating label:nth-of-type(2),
#question-17 .star-rating input:nth-of-type(2),
#question-17 .star-rating label:nth-of-type(3),
#question-17 .star-rating input:nth-of-type(3) {
    display: none;
}


/* hide 2nd star, for specific questions */

#question-12 .star-rating label:nth-of-type(2),
#question-12 .star-rating input:nth-of-type(2) {
    display: none;
}


/* not applicable button */

.not-applicable-container .radio,
.not-applicable-container .radio:checked {
    width: 1em;
    height: 1em;
}

.not-applicable-container .answer-content,
.not-applicable-container .radio:checked+.answer-content,
.not-applicable-container .answer-content {
    font-size: 1em;
}


/* custom previous button */

.prev-2 {
    background-color: rgba(245, 158, 40, .5);
}


/** Optimize width of leaderboard and of EOS dashboad iframe on final screen */

.embed-survey {
    max-height: 650px !important;
}

.leaderboard .card-logo,
.slide-type-final .card-logo {
    display: none;
}

.leaderboard .card-content,
.slide-type-final .card-content {
    max-width: 100%;
}


/* .slide-type-final .card-container, */

.leaderboard .card-container {
    max-width: 100%;
    padding-right: 0em;
}

@media (min-width: 600px) {
    .theme-layout-left .slide-type-final .card-body>form {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .theme-layout-left .leaderboard .card-body>* {
        max-width: 95%;
    }
    .theme-layout-left .slide-type-final .card-container {
        padding-right: 2em;
    }
}

@media (min-width: 960px) {
    .theme-layout-left .slide-type-final .card-container {
        padding-right: 3em;
    }
}