@font-face {
    font-family: "Gotham Book";
    src: url("https://surveyanyplace.s3.amazonaws.com/custom/crs/GothamBook.ttf");
}

body {
    font-family: "Gotham Book" !important;
}


/* OR ALTERNATIVELY */

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
body {
    font-family: 'Karla', sans-serif;
}