/* PLACED BY SA */


/* PAGE SETTINGS */

.page-header-space,
.page-footer-space {
    height: 0px;
}


/* -----     ----- TITLE PAGE -----     ----- */


/* TITLE PAGE IMG */

#title-page {
    background-image: url("https://i.ibb.co/v3QpcTN/4-01.png");
    background-size: 810px 1121px;
    background-repeat: no-repeat;
}


/* TITLE PAGE TEXT */


/* .container-cover {
    text-align: center;
    position: relative;
    margin: 0;
}

.text-cover {
    position: relative;
    top: 910px;
    text-align: center;
    font-size: 39px;
    color: #ad8e59;
} */


/* -----     ----- PAGE 1 -----     ----- */

.colored-text {
    color: #ad8e59;
}

.profile-pic {
    width: 20%;
    margin-left: 0%;
}

.logo {
    height: 20%;
    width: 20%;
    margin-top: 3%;
}


/* -----     ----- PAGE 2 -----     ----- */

.container3 {
    height: 1122px !important;
    background-repeat: no-repeat;
    background-color: #203252;
    color: white;
}

.num-h {
    width: 4%;
}


/* CONTAINER */

.subcontainer3 {
    margin: 0px 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


/* HEADERS */

.heading {
    line-height: 1.05em;
    font-size: 30px;
    color: #ad8e59;
}

.subheading1 {
    line-height: 1.05em;
    font-size: 21px;
    color: #ad8e59;
}

.subheading1-inner {
    line-height: 1.05em;
    color: white;
    font-size: 14px;
}

.subheading2 {
    line-height: 1.05em;
    color: #ad8e59;
    font-size: 21px;
}

.subheading2-inner {
    line-height: 1.05em;
    color: white;
    font-size: 15px;
}


/* Programs */

.program {
    color: #ad8e59;
    font-size: 14px;
}

.program-desc {
    font-size: 13px;
    color: white;
}

a {
    text-decoration: none;
    color: #ad8e59;
}


/* FOOTERS */

.footer1 {
    padding-left: 100px;
    font-size: 11px;
}

.footer2 {
    padding-bottom: 35px;
    margin-left: 30px;
    margin-bottom: 10px;
    background-image: url('https://i.ibb.co/TTXPKcH/footer-logo-01.png');
    background-size: cover;
    height: 80px;
    position: absolute;
    bottom: 1%;
}

.footer2-text {
    margin-left: 120px;
    margin-right: 10px;
    color: #203252;
}


/* CONTACT */

.contact-shape {
    height: 23px;
    width: 100%;
    color: #203252;
    background-image: url('https://i.ibb.co/gt8CCKx/Contact-shape.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* -----     ----- FINAL PAGE -----     ----- */

.container4 {
    height: 1122px !important;
    background-repeat: no-repeat;
    width: 810px !important;
    margin-top: -23% !important;
    padding: 0% !important;
}


/* COLUMNS */

.column1 {
    float: left;
    width: 60%;
}

.column2 {
    float: left;
    width: 40%;
    padding-top: 25px;
}

.r2-column1 {
    float: left;
    width: 60%;
}

.r2-column1 .check {
    width: 2.7%;
}

.r2-column2 {
    float: left;
    width: 40%;
}

.check {
    display: inline-block;
    width: 4%;
    margin-left: 5%;
}

.r2-column1 {
    text-align: left;
    margin-top: 20px;
    background-color: #203252;
    color: white;
    font-size: 16px;
    height: 455px;
}

.r2-column2 {
    text-align: left;
    margin-top: 20px;
    background-color: #203252;
    color: white;
    font-size: 16px;
    height: 455px;
}

.col1-r1-heading {
    font-size: 38px;
    color: #203252;
}

.col1-r2-heading {
    font-size: 38px;
    color: #ad8e59;
}

.row3-col1 {
    background-image: url('https://i.ibb.co/4sm1BG2/backpage-picture.png');
    background-size: cover;
    float: left;
    height: 380px;
}

.play {
    width: 30%;
    padding-top: 210px;
}

.r4-column1 {
    text-align: center;
    float: left;
    width: 35.5%;
    font-size: 12px;
    background-color: #203252;
    height: 80px;
}

.r4-column1 a {
    color: #ad8e59;
    text-decoration: none;
}

.r4-column2 {
    text-align: center;
    float: left;
    width: 31%;
    color: #ad8e59;
    font-size: 12px;
    background-color: #203252;
    height: 80px;
}

.r4-column3 {
    text-align: center;
    float: left;
    width: 33.5%;
    color: #ad8e59;
    font-size: 12px;
    background-color: #203252;
    padding-top: 1%;
    height: 72px;
}