@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
}

.font-xlarge,
.font-large {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#status-message.active,
.card {
    box-shadow: 7px 7px 14px rgba(0, 0, 0, .15);
}

.card-content-item .text-container {
    text-align: start;
}

video {
    border: none;
}


/* NEW */

#question-15 mjx-mtable {
    min-width: auto !important;
}

#question-15 mjx-mtr {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-auto-rows: 1fr 1fr 1fr;
}

#question-15 mjx-mtable mjx-itable mjx-mtd:nth-child(1) {
    text-align: left;
    padding-right: 0.5em;
    grid-row-start: 2;
    grid-column-start: 1;
}

#question-15 mjx-mtable mjx-itable mjx-mtd:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 2;
}

#question-15 mjx-mtable mjx-itable mjx-mtd:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 2;
}

#question-15 mjx-mtable mjx-itable mjx-mtd:nth-child(4) {
    grid-row-start: 3;
    grid-column-start: 2;
}