<div>
    <p v-if="*|f6_result|* < 20">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/WKT0BXGERf5MAomyj8Bt_JvWdsHmURauSVv0vdscz_Rating_bar_1.jpg"></p>
    <p v-if=" 19 < *|f6_result|* && *|f6_result|* < 40">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/sEaVdUDeRO2KzGCzlCCr_7UXUihxCTVCIqzcAcJp7_Rating_bar_2.jpg"></p>
    <p v-if=" 39 < *|f6_result|* && *|f6_result|* < 60">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/ZhKN0GCvTdmGxwUpHB3j_srwLJksSzGe77KO7cdHa_Rating_bar_3.jpg"></p>
    <p v-if=" 59 < *|f6_result|* && *|f6_result|* < 80">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/bdLm0WilRkK2l0RZZGOy_626kH1DbSFuFQkdtSuZR_Rating_bar_4.jpg"></p>
    <p v-if=" 79 < *|f6_result|*">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/sKJN2CzT06Qc4JO9xFUa_aiJPT0khT3aOaE20oEzY_Rating_bar_5.jpg"></p>
</div>