/* Custom chart */


/* Chart labels */

.data-group .category-labels g:nth-child(4) .wrapped text {
    transform: translate(-20px, -20px) rotate(315deg);
}

.data-group .category-labels g:nth-child(1) .wrapped text {
    transform: translate(20px, -20px) rotate(45deg);
}

.data-group .category-labels g:nth-child(2) .wrapped text {
    transform: translate(20px, 20px) rotate(315deg);
}

.data-group .category-labels g:nth-child(3) .wrapped text {
    transform: translate(-20px, 20px) rotate(45deg);
}


/* Chart Data */

#Circle line:nth-child(1) {
    transform-origin: 50% 50% !important;
    transform: skew(-10deg, 8deg) !important;
}

#Circle line:nth-child(6) {
    transform-origin: 50% 50% !important;
    transform: skew(7deg, -9deg) !important;
}

#Circle line:nth-child(7) {
    display: none !important;
}

#Circle line:nth-child(9) {
    transform-origin: 50% 50% !important;
    transform: skew(-6deg, 16deg) !important;
}

#Circle line:nth-child(10) {
    transform-origin: 50% 50% !important;
    transform: skew(-12deg, 16deg) !important;
}

#Circle line:nth-child(11) {
    display: none !important;
}


/* Rater Distribution styling */

.rd-header.rd-thead th:first-child {
    width: 50%;
}

.rd-table tr td:not(:first-child) {
    text-align: center !important;
    padding: 0;
}

.rd-table tr th:first-child {
    padding-left: 10px;
}

.rd-header.rd-thead th:not(:first-child) {
    display: none;
}

table#container td {
    padding: 0px 5px;
}


/* ADAPTIVE STRATEGY */

#widget_13 .rd-header.rd-thead {
    background: #e31717 !important;
}

#widget_13.fr-view table th {
    background: none;
    color: white;
    text-align: left;
    padding-left: 10px;
}

#widget_13 .rd-color-1 {
    background: #f54545;
}

#widget_13 .rd-color-2 {
    background: #EF7474;
}

#widget_13 .rd-color-3 {
    background: #F6A5A5;
}


/* FOCUSED OKRS */

#widget_14 .rd-header.rd-thead {
    background: #119090 !important;
}

#widget_14.fr-view table th {
    background: none;
    color: white;
    text-align: left;
    padding-left: 10px;
}

#widget_14 .rd-color-1 {
    background: #1fb7b7;
}

#widget_14 .rd-color-2 {
    background: #0ed9d9;
}

#widget_14 .rd-color-3 {
    background: #A4eded;
}


/* ACTIONABLE CADENCE */

#widget_16 .rd-header.rd-thead {
    background: #094a5a !important;
}

#widget_16.fr-view table th {
    background: none;
    color: white;
    text-align: left;
    padding-left: 10px;
}

#widget_16 .rd-color-1 {
    background: #0f738b;
}

#widget_16 .rd-color-2 {
    background: #1b9ab9;
}

#widget_16 .rd-color-3 {
    background: #79d8f0;
}


/* AGILE CULTURE */

#widget_17 .rd-header.rd-thead {
    background: #e7a431 !important;
}

#widget_17.fr-view table th {
    background: none;
    color: white;
    text-align: left;
    padding-left: 10px;
}

#widget_17 .rd-color-1 {
    background: #FFC053;
}

#widget_17 .rd-color-2 {
    background: #FFC96A;
}

#widget_17 .rd-color-3 {
    background: #FFDC9F;
}