/* --- FONTS --- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.title-poppins {
    font-family: 'Poppins';
    font-weight: bold;
}


/* FOOTER ADJUSTMENT */

.page-footer-space {
    height: 50px;
}


/* Custom chart */

#gtext text {
    font-family: 'Lato' !important;
}


/* Bar chart */

.template-widget.bar svg.highcharts-root {
    font-family: 'Lato' !important;
}


/* Rater distribution */

.rd-header.rd-thead .focus-visible {
    font-family: 'Lato' !important;
}


/* --- Custom chart --- */

#Values_Labels {
    display: none;
}


/* Chart labels */

.data-group .category-labels g:nth-child(4) .wrapped text {
    transform: translate(-20px, -20px) rotate(315deg);
}

.data-group .category-labels g:nth-child(1) .wrapped text {
    transform: translate(20px, -20px) rotate(45deg);
}

.data-group .category-labels g:nth-child(2) .wrapped text {
    transform: translate(20px, 20px) rotate(315deg);
}

.data-group .category-labels g:nth-child(3) .wrapped text {
    transform: translate(-20px, 20px) rotate(45deg);
}


/* Chart Data */

#Circle line {
    stroke: #000 !important;
}

#Circle line:nth-child(1) {
    transform-origin: 50% 50% !important;
    transform: skew(-10deg, 8deg) !important;
}

#Circle line:nth-child(6) {
    transform-origin: 50% 50% !important;
    transform: skew(7deg, -9deg) !important;
}

#Circle line:nth-child(7) {
    display: none !important;
}

#Circle line:nth-child(9) {
    transform-origin: 50% 50% !important;
    transform: skew(-7deg, 10deg) !important;
}

#Circle line:nth-child(10) {
    transform-origin: 50% 50% !important;
    transform: skew(-12deg, 16deg) !important;
}

#Circle line:nth-child(11) {
    display: none !important;
}


/* Chart grid */

g#Circle g:nth-of-type(1),
g#Circle g:nth-of-type(4),
g#Circle circle:nth-of-type(3),
g#Circle g:nth-of-type(7),
g#Circle ellipse:nth-last-child(4) {
    visibility: hidden;
}


/* CUSTOM CHART COLORS */

#Layer_1 ellipse {
    stroke: #f2f2f2 !important;
}

#Circle_Categories_Labels .data-group .category-labels text {
    fill: #000;
}

.category-labels g:nth-child(1) .wrapped text {
    fill: #119090;
}

.category-labels g:nth-child(2) .wrapped text {
    fill: #e7a431;
}

.category-labels g:nth-child(3) .wrapped text {
    fill: #094a5a;
}

.category-labels g:nth-child(4) .wrapped text {
    fill: #e31717;
}


/* --- RATER DISTRIBUTION --- */


/* Small tables */

.template-widget.table.column-right table.column thead th,
.template-widget.table.column-right table.column th:nth-child(1) {
    background-color: #e2e2e2 !important;
    color: #000 !important;
}

.template-widget.table.column-right table.column thead th:not(:first-child),
.template-widget.table.column-right table.column td:not(:first-child) {
    text-align: center;
}

#widget_9 {
    margin-top: 50px;
    padding-top: 0px;
}

.page-container-row .template-widget.table.column-right {
    padding-top: 50px;
}

.page-container-row .template-widget.table.column-right table th,
.page-container-row .template-widget.table.column-right table td {
    padding: 3px !important;
    font-size: 11px;
}

.template-widget table.column th:not(:first-child) {
    text-align: center !important;
}

table .rd-header th:not(:first-child) {
    text-align: center !important;
    padding-left: 0px !important;
}


/* --- SEGMENTATION --- */


/* Small tables */

#widget_22.template-widget.table.column-right,
#widget_24.template-widget.table.column-right,
#widget_26.template-widget.table.column-right,
#widget_30.template-widget.table.column-right,
#widget_32.template-widget.table.column-right,
#widget_34.template-widget.table.column-right,
#widget_38.template-widget.table.column-right,
#widget_40.template-widget.table.column-right,
#widget_42.template-widget.table.column-right,
#widget_46.template-widget.table.column-right,
#widget_48.template-widget.table.column-right,
#widget_50.template-widget.table.column-right,
#widget_54.template-widget.table.column-right,
#widget_56.template-widget.table.column-right,
#widget_58.template-widget.table.column-right,
#widget_62.template-widget.table.column-right,
#widget_64.template-widget.table.column-right,
#widget_66.template-widget.table.column-right,
#widget_70.template-widget.table.column-right,
#widget_72.template-widget.table.column-right,
#widget_74.template-widget.table.column-right,
#widget_78.template-widget.table.column-right,
#widget_80.template-widget.table.column-right,
#widget_82.template-widget.table.column-right {
    padding-top: 25px;
    text-align: center;
}


/* Large tables */

.segmentation-table {
    width: 90%;
}

.segmentation-table td {
    padding: 3px !important;
}

.segmentation-table th:not(:first-child),
.segmentation-table td:not(:first-child) {
    max-width: 25px;
}

.template-widget.text table#table-widget th {
    background: none;
}

.hidden th {
    border: none !important;
}

.hidden th:first-child p {
    border: none !important;
}

.question-text {
    line-height: initial;
    font-size: smaller;
    padding: 2px;
}


/* Rotated headers */

#widget_85,
#widget_87 {
    overflow: auto;
}

.segmentation-table .hidden th {
    height: 100px;
    vertical-align: bottom;
    text-align: left;
    line-height: 1;
}

.segmentation-table-container {
    width: 75px;
}

.segmentation-table-content {
    white-space: nowrap;
    transform-origin: bottom left;
    transform: translateX(28px) rotate(-60deg);
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 5px;
}

.segmentation-table td:not(:first-child) {
    text-align: right;
}


/* colors */

.color-1 {
    background: #e31717 !important;
    color: #fff;
}

.color-1A {
    background: #f54545;
    color: #fff;
}

.color-1B {
    background: #EF7474;
    color: #fff;
}

.color-1C {
    background: #F6A5A5;
    color: #fff;
}

.color-2 {
    background: #119090 !important;
    color: #fff;
}

.color-2A {
    background: #1fb7b7;
    color: #fff;
}

.color-2B {
    background: #0ed9d9;
    color: #fff;
}

.color-2C {
    background: #A4eded;
    color: #fff;
}

.color-3 {
    background: #094a5a !important;
    color: #fff;
}

.color-3A {
    background: #0f738b;
    color: #fff;
}

.color-3B {
    background: #1b9ab9;
    color: #fff;
}

.color-3C {
    background: #79d8f0;
    color: #fff;
}

.color-4 {
    background: #e7a431 !important;
    color: #fff;
}

.color-4A {
    background: #FFC053;
    color: #fff;
}

.color-4B {
    background: #FFC96A;
    color: #fff;
}

.color-4C {
    background: #FFDC9F;
    color: #fff;
}