<table align="center" id="table-widget" class="header">
    <tbody>
        <tr>
            <th class="focus-visible" data-focus-visible-added="">Project Leadership</th>
            <th>People Leadership</th>
            <th>Executive Leadership</th>
        </tr>
        <tr>
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <!--  -->
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <!--  -->
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
        </tr>
        <tr>
            <th class="focus-visible" data-focus-visible-added="">Project Leadership</th>
            <th>People Leadership</th>
            <th>Executive Leadership</th>
        </tr>
        <tr>
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <!--  -->
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <!--  -->
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
        </tr>
        <tr>
            <th class="focus-visible" data-focus-visible-added="">Project Leadership</th>
            <th>People Leadership</th>
            <th>Executive Leadership</th>
        </tr>
        <tr>
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <!--  -->
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <!--  -->
            <th class="red" v-if="*|f4_result|* < 60">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
            <th class="green" v-if="80 < *|f4_result|*">Learning on the Fly - *|f1_result|*%<br>Measuring Management Goals & Priorities - *|f2_result|*%
            </th>
        </tr>
    </tbody>
</table>
<div><br></div>