<table align="center" id="table-widget" class="header">
    <tbody>
        <tr>
            <th class="focus-visible dark-blue" data-focus-visible-added="">PROJECT LEADERSHIP</th>
            <th class="dark-green">PEOPLE LEADERSHIP</th>
            <th class="dark-red">EXECUTIVE LEADERSHIP</th>
        </tr>
        <tr>
            <th class="red" v-if="*|f19_result|* < 60"><span class="font-medium score overallavg _1">Overall avg: *|f19_result|*%</span><br>Learning on the Fly - *|f17_result|*%<br>Measuring Management Goals & Priorities - *|f18_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f19_result|* && *|f19_result|* < 81"><span class="font-medium score overallavg _1">Overall avg: *|f19_result|*%</span><br>Learning on the Fly - *|f17_result|*%<br>Measuring Management Goals & Priorities - *|f18_result|*%
            </th>
            <th class="green" v-if="80 < *|f19_result|*"><span class="font-medium score overallavg _1">Overall avg: *|f19_result|*%</span><br>Learning on the Fly - *|f17_result|*%<br>Measuring Management Goals & Priorities - *|f18_result|*%
            </th>
            <!--  -->
            <th class="red" v-if="*|f25_result|* < 60"><span class="font-medium score overallavg _2">Overall avg: *|f25_result|*%</span><br>Strategic Agility - *|f23_result|*%<br>Drive for Results - *|f24_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f25_result|* && *|f25_result|* < 81"><span class="font-medium score overallavg _2">Overall avg: *|f25_result|*%</span><br>Strategic Agility - *|f23_result|*%<br>Drive for Results - *|f24_result|*%
            </th>
            <th class="green" v-if="80 < *|f25_result|*"><span class="font-medium score overallavg _2">Overall avg: *|f25_result|*%</span><br>Strategic Agility - *|f25_result|*%<br>Drive for Results - *|f24_result|*%
            </th>
            <!--  -->
            <th class="red" v-if="*|f29_result|* < 60"><span class="font-medium score overallavg _3">Overall avg: *|f29_result|*%</span><br>Decision Quality - *|f26_result|*%<br>Caring for Others - *|f27_result|*%<br>Developing Others - *|f28_result|*%
            </th>
            <th class="yellow" v-if="59 < *|f29_result|* && *|f29_result|* < 81"><span class="font-medium score overallavg _3">Overall avg: *|f29_result|*%</span><br>Decision Quality - *|f26_result|*%<br>Caring for Others - *|f27_result|*%<br>Developing Others - *|f28_result|*%
            </th>
            <th class="green" v-if="80 < *|f29_result|*"><span class="font-medium score overallavg _3">Overall avg: *|f29_result|*%</span><br>Decision Quality - *|f26_result|*%<br>Caring for Others - *|f27_result|*%<br>Developing Others - *|f28_result|*%
            </th>
            <tr>
                <th class="focus-visible dark-purple" data-focus-visible-added="">COLLABORATIVE LEADERSHIP</th>
                <th class="dark-blue">PROJECT LEADERSHIP</th>
                <th class="dark-green">PEOPLE LEADERSHIP</th>
            </tr>
            <tr>
                <th class="red" v-if="*|f7_result|* < 60"><span class="font-medium score overallavg _4">Overall avg: *|f7_result|*%</span><br>Timely Decision Making - *|f6_result|*%<br>Action Oriented - *|f5_result|*%
                </th>
                <th class="yellow" v-if="59 < *|f7_result|* && *|f7_result|* < 81"><span class="font-medium score overallavg _4">Overall avg: *|f7_result|*%</span><br>Timely Decision Making - *|f6_result|*%<br>Action Oriented - *|f5_result|*%
                </th>
                <th class="green" v-if="80 < *|f7_result|*"><span class="font-medium score overallavg _4">Overall avg: *|f7_result|*%</span><br>Timely Decision Making - *|f6_result|*%<br>Action Oriented - *|f5_result|*%
                </th>
                <!--  -->
                <th class="red" v-if="*|f16_result|* < 60"><span class="font-medium score overallavg _5">Overall avg: *|f16_result|*%</span><br>Work/Life Balance - *|f14_result|*%<br>Problem Solving - *|f15_result|*%
                </th>
                <th class="yellow" v-if="59 < *|f16_result|* && *|f4_result|* < 81"><span class="font-medium score overallavg _5">Overall avg: *|f16_result|*%</span><br>Work/Life Balance - *|f14_result|*%<br>Problem Solving - *|f15_result|*%
                </th>
                <th class="green" v-if="80 < *|f16_result|*"><span class="font-medium score overallavg _5">Overall avg: *|f16_result|*%</span><br>Work/Life Balance - *|f14_result|*%<br>Problem Solving - *|f15_result|*%
                </th>
                <!--  -->
                <th class="red" v-if="*|f22_result|* < 60"><span class="font-medium score overallavg _6">Overall avg: *|f22_result|*%</span><br>Understanding Others - *|f20_result|*%<br>Directing Others - *|f21_result|*%
                </th>
                <th class="yellow" v-if="59 < *|f22_result|* && *|f22_result|* < 81"><span class="font-medium score overallavg _6">Overall avg: *|f22_result|*%</span><br>Understanding Others - *|f20_result|*%<br>Directing Others - *|f21_result|*%
                </th>
                <th class="green" v-if="80 < *|f22_result|*"><span class="font-medium score overallavg _6">Overall avg: *|f22_result|*%</span><br>Understanding Others - *|f20_result|*%<br>Directing Others - *|f21_result|*%
                </th>
            </tr>
            <tr>
                <th class="focus-visible dark-yellow" data-focus-visible-added="">SPECIALIZATION</th>
                <th class="dark-purple">COLLABORATIVE LEADERSHIP</th>
                <th class="dark-blue">PROJECT LEADERSHIP</th>
            </tr>
            <tr>
                <th class="red" v-if="*|f4_result|* < 60"><span class="font-medium score overallavg _7">Overall avg: *|f4_result|*%</span><br>Self-Awareness - *|f1_result|*%<br>Goal & Priority Setting - *|f2_result|*%<br>Approachability - *|f3_result|*%
                </th>
                <th class="yellow" v-if="59 < *|f4_result|* && *|f4_result|* < 81"><span class="font-medium score overallavg _7">Overall avg: *|f4_result|*%</span><br>Self-Awareness - *|f1_result|*%<br>Goal & Priority Setting - *|f2_result|*%<br>Approachability - *|f3_result|*%
                </th>
                <th class="green" v-if="80 < *|f4_result|*"><span class="font-medium score overallavg _7">Overall avg: *|f4_result|*%</span><br>Self-Awareness - *|f1_result|*%<br>Goal & Priority Setting - *|f2_result|*%<br>Approachability - *|f3_result|*%
                </th>
                <!--  -->
                <th class="red" v-if="*|f10_result|* < 60"><span class="font-medium score overallavg _8">Overall avg: *|f10_result|*%</span><br>Active Listening - *|f8_result|*%<br>Motivating Others - *|f9_result|*%
                </th>
                <th class="yellow" v-if="59 < *|f10_result|* && *|f10_result|* < 81"><span class="font-medium score overallavg _8">Overall avg: *|f10_result|*%</span><br>Active Listening - *|f8_result|*%<br>Motivating Others - *|f9_result|*%
                </th>
                <th class="green" v-if="80 < *|f10_result|*"><span class="font-medium score overallavg _8">Overall avg: *|f10_result|*%</span><br>Active Listening - *|f8_result|*%<br>Motivating Others - *|f9_result|*%
                </th>
                <!--  -->
                <th class="red" v-if="*|f13_result|* < 60"><span class="font-medium score overallavg _9">Overall avg: *|f13_result|*%</span><br>Empathy - *|f11_result|*%<br>Empowering Others - *|f12_result|*%
                </th>
                <th class="yellow" v-if="59 < *|f13_result|* && *|f13_result|* < 81"><span class="font-medium score overallavg _9">Overall avg: *|f13_result|*%</span><br>Empathy - *|f11_result|*%<br>Empowering Others - *|f12_result|*%
                </th>
                <th class="green" v-if="80 < *|f13_result|*"><span class="font-medium score overallavg _9">Overall avg: *|f13_result|*%</span><br>Empathy - *|f11_result|*%<br>Empowering Others - *|f12_result|*%
                </th>
            </tr>
    </tbody>
</table>
<div><br></div>