/* ----- FONTS ----- */

@font-face {
    font-family: "GraphikBold";
    font-weight: normal;
    font-style: normal;
    src: url("https://d211yo6vt4n0fx.cloudfront.net/custom/cyberriskalliance/Graphik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "GraphikLight";
    font-weight: normal;
    font-style: normal;
    src: url("https://d211yo6vt4n0fx.cloudfront.net/custom/cyberriskalliance/Graphik-Light.ttf") format("truetype");
}

@font-face {
    font-family: "TrashHand";
    font-weight: normal;
    font-style: normal;
    src: url("https://d211yo6vt4n0fx.cloudfront.net/custom/cyberriskalliance/TrashHand.TTF") format("truetype");
}

body {
    font-family: "GraphikLight" !important;
}


/* ----- INTRO CARD ----- */

.card.intro-card {
    margin: auto 2% !important;
    background: #f5fafd00 !important;
    color: #fff;
}

.intro-card-title {
    font-size: 3.5em;
    color: #e87613;
}

.intro-card-text {
    font-size: 1.6em;
}


/* ----- BUTTON ----- */

.card.intro-card .card-actions {
    right: 40% !important;
}

#status-message,
.button,
.card-content .button,
.media-overlay-container {
    background: #e87613;
    color: #fcfaf7;
    font-weight: bold !important;
}


/* ----- BACKGROUND ----- */

.alt-background {
    background-image: url("https://downloads.intercomcdn.com/i/o/196905634/daa99780d712e27ffa95b6ae/image.png") !important;
    background-size: 100% 100% !important;
}


/* ----- MEDIA QUERIES ----- */

@media (min-width: 2000px) {
    .theme-layout-compact .card {
        max-width: 60em;
    }
    .card.intro-card {
        margin: 12% 2% auto !important;
    }
    .intro-card-title {
        font-size: 6.5em;
    }
    .intro-card-text {
        font-size: 3em;
    }
    .card.intro-card .card-actions {
        right: 70% !important;
    }
    .card.intro-card#status-message,
    .button,
    .card-content .button,
    .media-overlay-container {
        font-size: 1.5em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .alt-background {
        background-size: 200% 100% !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .alt-background {
        background-image: url("https://d211yo6vt4n0fx.cloudfront.net/survey/BF5mKV5BRMdBF0YjcCaJpBHQnqdFHjV0/images/u9nwNVZ6Te8fZ40a5kOJ_Blue_background_MWB_quiz_questions.jpg") !important;
    }
    .card.intro-card .card-actions {
        right: 0% !important;
    }
    .card.intro-card {
        margin: auto !important;
    }
}