@font-face {
    font-family: 'SimonKucher';
    src: url('https://www.simon-kucher.com/cd-elements/Fonts/Simon-Kucher-Regular.woff') format('woff');
}

body {
    font-family: "SimonKucher" !important;
}


/* ADDED BY SA */

.grid .bar .inner p {
    line-height: 2.5em;
    font-size: 0.8em;
}

.widget-container {
    font-size: 0.8em;
}

.card-content {
    text-align: left;
}

.icon-mandatory::before {
    content: "" !important;
}

.grid .bar .score {
    line-height: 1em;
    margin-left: .7em;
    font-size: 1.2em;
}

.grid .bar .inner p {
    line-height: 1.7em;
    font-size: 1.2em;
}