<div v-if="*|f4_result|* <=2">
    <p><span style="color: rgb(206, 0, 0);">Target Audience</span></p>
</div>
<div v-if="*|f5_result|* <= 2">
    <p><span style="color: rgb(206, 0, 0);">Problem Statement</span></p>
</div>
<div v-if="*|f6_result|* <=2">
    <p><span style="color: rgb(206, 0, 0);">Product/Service Definition</span></p>
</div>
<div v-if="*|f7_result|* <=2">
    <p><span style="color: rgb(206, 0, 0);">Innovation</span></p>
</div>
<div v-if="*|f8_result|* <=2">
    <p><span style="color: rgb(206, 0, 0);">Competition</span></p>
</div>
<div v-if="*|f9_result|* <=2">
    <p><span style="color: rgb(206, 0, 0);">Pricing</span></p>
</div>
<div v-if="*|f10_result|* <=2">
    <p><span style="color: rgb(206, 0, 0);">Supply Chain</span></p>
</div>
<div v-if="*|f11_result|* <=2">
    <p><span style="color: rgb(206, 0, 0);">Diversification</span></p>
</div>