figure {
    margin: 0;
}

iframe {
    width: -webkit-fill-available !important;
    height: -webkit-fill-available;
    max-width: 1000px;
    max-height: 400px;
}

@media only screen and (max-width: 600px) {
    iframe {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        max-width: 1000px;
        max-height: 200px;
    }
}