<div>
    <p v-if="*|EXTERNAL_FIELD_TEAM_PASSION_AVG|* < 20">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/WKT0BXGERf5MAomyj8Bt_JvWdsHmURauSVv0vdscz_Rating_bar_1.jpg" data-image="rzifedr89ccz"></p>
    <p v-if="19 < *|EXTERNAL_FIELD_TEAM_PASSION_AVG|* && *|EXTERNAL_FIELD_TEAM_PASSION_AVG|* < 40">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/sEaVdUDeRO2KzGCzlCCr_7UXUihxCTVCIqzcAcJp7_Rating_bar_2.jpg" data-image="2v8jfp03vfm7"></p>
    <p v-if="39 < *|EXTERNAL_FIELD_TEAM_PASSION_AVG|* && *|EXTERNAL_FIELD_TEAM_PASSION_AVG|* < 60">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/ZhKN0GCvTdmGxwUpHB3j_srwLJksSzGe77KO7cdHa_Rating_bar_3.jpg" data-image="fo9keyhj8y28"></p>
    <p v-if="59 < *|EXTERNAL_FIELD_TEAM_PASSION_AVG|* && *|EXTERNAL_FIELD_TEAM_PASSION_AVG|* < 80">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/bdLm0WilRkK2l0RZZGOy_626kH1DbSFuFQkdtSuZR_Rating_bar_4.jpg" data-image="zisw4kqa0798"></p>
    <p v-if="79 < *|EXTERNAL_FIELD_TEAM_PASSION_AVG|*">
        <img src="https://assets.surveyanyplace.com/survey/0d746dbf-6a4d-4bc1-bed7-4dd2ab10c338/templates/4587a334-bcf6-488e-9528-1d2222412876/sKJN2CzT06Qc4JO9xFUa_aiJPT0khT3aOaE20oEzY_Rating_bar_5.jpg" data-image="neeyzel4ure1"></p>
</div>

<div v-if="*|q14_response|* < *|EXTERNAL_FIELD_Q14_AVG|*">
    <p class="font-medium"></p>
    <p><span class="font-small">Personal lower than team average | It looks like you may be more reluctant to embrace change than the rest of your team. Being cautious can be good for the long-term success of a team. Change can also be a way to build a team ready to be in service. As you think about change and how it could help your team serve, reflect on these questions:</span></p>
    <ol>
        <li>
            <p><span class="font-small">What is a specific change opportunity that is low risk and has the potential for big impact?</span></p>
        </li>
    </ol>
    <p></p>
    <p></p>
    <p><br></p>
</div>