.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(1),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(2),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(3) {
    fill: #f3d54e;
    opacity: 0.92;
}

.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(4),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(5),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(6),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(7) {
    fill: #e30548;
    opacity: 0.92;
}

.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(8),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(9),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(10) {
    fill: #97d700;
    opacity: 0.92;
}

.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(11),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(12),
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-dense-data.highcharts-tracker path:nth-child(13) {
    fill: #3eb1c8;
    opacity: 0.92;
}

.highcharts-grid.highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 3px;
}

.highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line {
    stroke-width: 3px;
}