.Verkooppersoonlijkheid {
    color: #469BD5;
}

.Overtuigingen {
    color: #1c2c54;
}

.Verkoopproces {
    color: #e26d5a;
}

.Mentaliteit {
    color: #f2dc5d;
}

.Commerciele inzichten {
    color: #f2a359;
}