.top-container p:nth-child(2) {
    font-size: 25px !important;
}

.top-container p:nth-child(3),
.top-container p:nth-child(3) span {
    font-size: 45px !important;
}

#widget_2.template-widget.text p:nth-child(2) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_2.template-widget.text p:nth-child(18) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_4.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_10.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_16.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_19.template-widget.text p:nth-child(2) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_23.template-widget.text p:nth-child(2) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_27.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_31.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_35.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_38.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_41.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.template-widget.kpi .kpi-container .circle-container {
    padding: 0 25px;
}

.template-widget.table table {
    width: 75% !important;
}

.template-widget.table table th {
    width: 33%;
}

#widget_21.template-widget.kpi {
    padding-top: 150px;
}


/* ----- ADDED BY SA ----- */


/* CUSTOM TABLE CSS */

#widget_70 table {
    width: 75%
}

#widget_70 table th,
#widget_70 table td {
    border: 1px solid #ccc;
    padding: 10px;
    width: 33%;
}

#widget_70 table th {
    color: #000000
}