<table align="center" id="table-widget" class="header">
    <thead>
        <tr>
            <th>*|qb1_text|*</th>
            <th>*|External_field_Klanten_Maturiteit|*</th>
            <th>*|External_field_Klanten_Maturiteit_FASE_NIVEAU|*</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>VRAAG</td>
            <td>UW ANTWOORD</td>
            <td>GAP SIGNIFICANTIE</td>
        </tr>
        <tr>
            <td>*|q1_text|*</td>
            <td>*|EXTERNAL_FIELD_Q1_A|*</td>
            <td v-if="`*|External_field_GAP_Q1|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q1|*</td>
            <td v-if="`*|External_field_GAP_Q1|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q1|*</td>
            <td v-if="`*|External_field_GAP_Q1|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q1|*</td>
            <td v-if="`*|External_field_GAP_Q1|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q1|*</td>
        </tr>
        <tr>
            <td>*|q2_text|*</td>
            <td>*|EXTERNAL_FIELD_Q2_A|*</td>
            <td v-if="`*|External_field_GAP_Q2|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q2|*</td>
            <td v-if="`*|External_field_GAP_Q2|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q2|*</td>
            <td v-if="`*|External_field_GAP_Q2|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q2|*</td>
            <td v-if="`*|External_field_GAP_Q2|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q2|*</td>
        </tr>
        <tr>
            <td>*|q3_text|*</td>
            <td>*|EXTERNAL_FIELD_Q3_A|*</td>
            <td v-if="`*|External_field_GAP_Q3|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q3|*</td>
            <td v-if="`*|External_field_GAP_Q3|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q3|*</td>
            <td v-if="`*|External_field_GAP_Q3|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q3|*</td>
            <td v-if="`*|External_field_GAP_Q3|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q3|*</td>
        </tr>
        <tr>
            <td>*|q4_text|*</td>
            <td>*|EXTERNAL_FIELD_Q4_A|*</td>
            <td v-if="`*|External_field_GAP_Q4|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q4|*</td>
            <td v-if="`*|External_field_GAP_Q4|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q4|*</td>
            <td v-if="`*|External_field_GAP_Q4|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q4|*</td>
            <td v-if="`*|External_field_GAP_Q4|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q4|*</td>
        </tr>
        <tr>
            <td>*|q5_text|*</td>
            <td>*|EXTERNAL_FIELD_Q5_A|*</td>
            <td v-if="`*|External_field_GAP_Q5|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q5|*</td>
            <td v-if="`*|External_field_GAP_Q5|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q5|*</td>
            <td v-if="`*|External_field_GAP_Q5|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q5|*</td>
            <td v-if="`*|External_field_GAP_Q5|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q5|*</td>
        </tr>
    </tbody>
</table>