.ranking-table .row:nth-child(1),
.ranking-table .row:nth-child(2),
.ranking-table .row:nth-child(3) {
    color: #ff007b;
}

.ranking-table .row:nth-child(8) {
    color: #ff007b;
    font-weight: bold;
}

.ranking-table .row .col {
    text-align: left;
}

.ranking-table .row .col:last-child {
    text-align: center;
}