/* text choice answers placed over multiple columns on a slide - theme layout: left & centered */


/* reduce answer width & place answers next to each other */

.answer {
    width: calc(50% - 3px);
    /* 2 columns */
    display: inline-block;
}


/* increase container width */

.theme-layout-left .card-body form,
.theme-layout-centered .card-content {
    max-width: none;
}


/* change for each screen width checked in the app */

@media (min-width: 400px) {
    .answer {
        width: calc(33.34% - 3px);
        /* 3 columns */
    }
    .card-content {
        padding-left: 1em;
        padding-right: 1em;
    }
}


/* change for each screen width checked in the app */

@media (min-width: 600px) {
    .answer {
        width: calc(25% - 4px);
        /* 4 columns */
    }
}

@media (min-width: 768px) {
    .theme-layout-left .answer {
        width: calc(33.34% - 3px);
        /* 3 columns */
    }
}

@media (min-width: 960px) {
    .theme-layout-left .answer {
        width: calc(25% - 4px);
        /* 4 columns */
    }
    .theme-layout-centered .answer {
        width: calc(20% - 4px);
        /* 5 columns */
    }
    .theme-layout-left .card-body form {
        max-width: 62%;
    }
}

@media (min-width: 1024px) {
    .theme-layout-centered .answer {
        width: calc(33.34% - 3px);
        /* 3 columns */
    }
}

@media (min-width: 1200px) {
    .theme-layout-left .answer {
        width: calc(20% - 4px);
        /* 5 columns */
    }
    .theme-layout-centered .answer {
        width: calc(25% - 4px);
        /* 4 columns */
    }
    .theme-layout-left .card-body form {
        max-width: 72%;
    }
    .theme-layout-left .card-content {
        max-width: none;
    }
}

@media (min-width: 1440px) {
    .theme-layout-centered .answer {
        width: calc(20% - 4px);
        /* 5 columns */
    }
    .theme-layout-left .card-body form {
        max-width: 77%;
    }
}

@media (min-width: 1600px) {
    .theme-layout-left .answer {
        width: calc(16.67% - 4px);
        /* 6 columns */
    }
    .theme-layout-centered .answer {
        width: calc(20% - 4px);
        /* 5 columns */
    }
}

@media (min-width: 1800px) {
    .theme-layout-centered .answer {
        width: calc(16.67% - 4px);
        /* 6 columns */
    }
}

@media (min-width: 1920px) {
    .theme-layout-left .answer,
    .theme-layout-centered .answer {
        width: calc(14.29% - 4px);
        /* 7 columns */
    }
    /** exceed the bounding box on centered layout */
    .theme-layout-centered .card-body>form,
    .answer-counter-container {
        max-width: none;
    }
    .theme-layout-centered .card-container {
        padding-right: 10em;
    }
    /* end **/
}


/* selected answer counter */

.answer-counter-container {
    position: absolute;
    z-index: 5;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
}

.answer-counter-container p {
    background-color: white;
    margin: 0;
    padding: .5em 0;
}

@media (min-width: 375px) {
    .answer-counter-container {
        padding: 0 .3em;
    }
}

@media (min-width: 480px) {
    .answer-counter-container {
        padding: 0 .5em;
    }
}

@media (min-width: 768px) {
    .answer-counter-container {
        padding: 0 .6em;
    }
}

@media (min-width: 1024px) {
    .theme-layout-centered .answer-counter-container {
        left: .6em;
        padding: 0 13em;
        max-width: 95%;
    }
    .theme-layout-centered .answer-counter-container p {
        margin: 0 1.34%;
    }
}

@media (min-width: 1920px) {
    .theme-layout-centered .answer-counter-container {
        left: 0;
        max-width: none;
    }
}


/* disable answers */

label.answer.disabled {
    pointer-events: none;
}