/*     -----     -----     .lang-43     -----     -----     */

.ltr {
    direction: rtl;
}

.lang-43 .answer-content {
    text-align: right;
    padding: .3em 2em .3em .3em;
}

.lang-43 .answer .radio,
.lang-43 .answer .checkbox {
    left: auto;
    right: .6em;
    margin-right: 0;
    margin-left: .5em;
}

.lang-43 .answer.correct .radio+.answer-content:before,
.lang-43 .answer.correct .checkbox+.answer-content:before,
.lang-43 .answer.incorrect .radio+.answer-content:before,
.lang-43 .answer.incorrect .checkbox+.answer-content:before,
.lang-43 .radio:checked+.answer-content:before,
.lang-43 .checkbox:checked+.answer-content:before {
    left: auto;
    right: .6em;
}

.lang-43 .card-actions-item {
    transform: rotate(180deg);
}

.lang-43 #content0 .card-actions-item {
    transform: rotate(0deg);
}

.lang-43 .button.next,
.lang-43 .button.next.glow {
    transform: rotate(180deg);
}

.lang-43 .button.next:not(:disabled):not(.disabled):hover,
.lang-43 .button.next:not(:disabled):not(.disabled):focus {
    transform: rotate(180deg) scale(1.05);
}

.lang-43 #progress,
.lang-43 #session-upload-progress {
    left: auto;
    right: 0;
    text-align: left;
}

.lang-43 .progress-bar .progress-numbers:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 100%;
    left: auto;
    top: 0;
    bottom: 0;
    border-left: none;
    border-right: .4em solid;
    border-top: .7em solid transparent;
    border-bottom: .7em solid transparent;
}

.lang-43 .progress-bar .progress-numbers:after {
    border-right-color: #f04e23;
}