<p class="font-medium">Any text here</p>
<p style="max-width: 715px;"><img src="https://assets.surveyanyplace.com/media-library/production/64991/KKJvqcE9RNmymkEbGKM8_Lo0vmlRThGaz0ngDtYCw_Witz_Logo_300_2000x2000px_RGB.jpeg" width="715" height="270" style="width: 715px; max-width: 715px; height: 270px;"></p>
<table border="1" style="border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td colspan="2" style="border:solid;background:#4472c4;" valign="top">
                <div> <span style="color: rgb(255, 255, 255);" class="font-large"><strong>Header 1</strong></span> </div>
            </td>
            <td colspan="3" style="border:solid;background:#4472c4;" valign="top">
                <div> <span style="color: rgb(255, 255, 255);" class="font-large"><strong>header 2</strong></span> </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border:solid;background:#d9e2f3;" valign="top">
                <div><strong>Field 1</strong></div>
            </td>
            <td colspan="3" style="border:solid;background:#d9e2f3;" valign="top">
                <div>Field 2</div>
            </td>
        </tr>
    </tbody>
</table>