<table border="1" cellpadding="10" cellspacing="10" style="border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td colspan="2" style="border:solid;background:#4472c4;" valign="top">
                <div>
                    <span style="color: rgb(255, 255, 255);" class="font-large"><strong>Header 1</strong></span>
                </div>
            </td>
            <td colspan="3" style="border:solid;background:#4472c4;" valign="top">
                <div>
                    <span style="color: rgb(255, 255, 255);" class="font-large"><strong>header 2</strong></span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border:solid;background:#d9e2f3;" valign="top">
                <div><strong>Field 1</strong></div>
            </td>
            <td colspan="3" style="border:solid;background:#d9e2f3;" valign="top">
                <div>Field 2</div>
            </td>
        </tr>
    </tbody>
</table>