<table align="center" id="table-widget" class="header">
    <thead>
        <tr>
            <th>*|qb1_text|*</th>
            <th>Self</th>
            <th>Manager</th>
            <th>Colleagues</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>*|q2_text|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q2_SELF|*</td>
            <td style="background-color:lightgreen;" v-if="*|EXTERNAL_FIELD_NIBC_Q2_SELF|*>8">*|EXTERNAL_FIELD_NIBC_Q2_SELF|*</td>
            <td style="background-color:lightcoral;" v-if="*|EXTERNAL_FIELD_NIBC_Q2_SELF|*<6">*|EXTERNAL_FIELD_NIBC_Q2_SELF|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q2_MANAGER|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q2_COLLEAGUE|*</td>
        </tr>
        <tr>
            <td>*|q3_text|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q3_SELF|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q3_MANAGER|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q3_COLLEAGUE|*</td>
        </tr>
        <tr>
            <td>*|q4_text|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q4_SELF|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q4_MANAGER|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q4_COLLEAGUE|*</td>
        </tr>
        <tr>
            <td>*|q5_text|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q5_SELF|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q5_MANAGER|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q5_COLLEAGUE|*</td>
        </tr>
        <tr>
            <td>*|q6_text|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q6_SELF|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q6_MANAGER|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q6_COLLEAGUE|*</td>
        </tr>
        <tr>
            <td>*|q7_text|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q7_SELF|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q7_MANAGER|*</td>
            <td>*|EXTERNAL_FIELD_NIBC_Q7_COLLEAGUE|*</td>
        </tr>
    </tbody>
</table>