/* COVER PAGE */

section.title-page .logo {
    max-width: none;
    max-height: none;
    padding: 150px 50px;
    width: 100%;
    margin: auto;
}

section.title-page p,
section.title-page .bottom-container div,
section.title-page .bottom-container div {
    margin-left: 50px;
}


/* SPIDER CHARTS */

.template-widget.spiderchart .highcharts-axis-labels.highcharts-xaxis-labels text {
    font-weight: 900;
}

.template-widget.spiderchart .highcharts-title {
    font-size: 30px !important;
    font-weight: 700;
}


/* TEXT */

.template-widget.text hr {
    page-break-after: avoid !important;
    width: 200%;
}