<p><strong><span class="font-large">TU1. What kind of environment has the board created?</span></strong><br></p>
<p class="font-medium"> <span class="font-medium">Building a safe environment plays a critical role in establishing trust within any organisation.</span></p>

<p><strong><span v-if="*|q1_avg_custom_score|* < 3" class="font-medium colored red">Your Average score for this question is: *|q1_avg_custom_score|*</span><span  v-if="*|q1_avg_custom_score|* >= 3 && *|q1_avg_custom_score|* < 4" class="font-medium colored yellow">Your Average score for this question is: *|q1_avg_custom_score|*</span>
    <span  v-if="*|q1_avg_custom_score|* >= 4" class="font-medium colored green">Your Average score for this question is: *|q1_avg_custom_score|*</span></strong><br></p>

<p class="font-medium"> <span class="font-medium">A score of &gt; 4 suggests  that this is a space where people feel safe in a ‘no blame’ culture.</span></p>
<p class="font-medium"> <span class="font-medium"></span><span class="font-medium">A score of &lt; 3 <em>may</em> indicate a degree of neglect in building a positive environment.</span></p>
<p><br></p>
<hr>