#title-page {
    background-color: #643e82;
    background-size: 810px 1122px;
}

#widget_27 img {
    height: 410px;
    margin: 0px auto 0 auto;
}

.font-xlarge,
.font-large {
    font-weight: bold;
}

#widget_13 table tbody tr td:nth-child(2) {
    text-align: center;
}