figure {
    margin: 0;
}

iframe {
    width: -webkit-fill-available;
    height: 400px;
    max-width: 1000px;
    max-height: 400px;
}

@media only screen and (max-width: 600px) {
    iframe {
        width: -webkit-fill-available;
        height: 400px;
        max-width: 1000px;
        max-height: 200px;
    }
}