.answer-container:not(.no-answer) .rangeslider--horizontal {
    background-color: #8d8e93;
}

.theme-layout-compact .card:not(.intro) .card-logo {
    margin: auto;
    margin-top: 1.5em;
}

.theme-layout-compact .card:not(.intro) .card-logo img {
    max-height: 200px;
    height: 200px;
}