#title-page {
    background: #000000 url(https://d211yo6vt4n0fx.cloudfront.net/media-library/production/67238/vI7kgxxPQaaj82LtRJIL_ORCID_IMG_results_title_page_A4.png) no-repeat center;
    background-size: cover;
    height: 1122px;
}