<p class="font-medium"><strong>Capability area level</strong></p>
<p class="font-small">The table below shows your average capability levels across the six capability areas.</p>
<table>
    <tbody>
        <tr>
            <th class="red-header">Capability Area</th>
            <th class="red-header">Level 1: Emerging</th>
            <th class="red-header">Level 2: Evolving</th>
            <th class="red-header">Level 3: Embedding</th>
            <th class="red-header">Level 4: Excelling</th>
        </tr>
        <tr v-if="*|f1_result|* < 1.5">
            <td>Leading from the middle</td>
            <td style="text-align: center" class="focus-visible"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f1_result|* >= 1.5 && *|f1_result|* < 2.5">
            <td>Leading from the middle</td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f1_result|* >= 2.5 && *|f1_result|* < 3.5">
            <td>Leading from the middle</td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
        </tr>
        <tr v-if="*|f1_result|* >= 3.5">
            <td>Leading from the middle</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
        </tr>
        <tr v-if="*|f2_result|* < 1.5">
            <td>Professional observations for professional learning</td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f2_result|* >= 1.5 && *|f2_result|* < 2.5">
            <td>Professional observations for professional learning</td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f2_result|* >= 2.5 && *|f2_result|* < 3.5">
            <td>Professional observations for professional learning</td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
        </tr>
        <tr v-if="*|f2_result|* >= 3.5">
            <td>Professional observations for professional learning</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
        </tr>
        <tr v-if="*|f3_result|* < 1.5">
            <td>Professional conversations</td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f3_result|* >= 1.5 && *|f3_result|* < 2.5">
            <td>Professional conversations</td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f3_result|* >= 2.5 && *|f3_result|* < 3.5">
            <td>Professional conversations</td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
        </tr>
        <tr v-if="*|f3_result|* >= 3.5">
            <td>Professional conversations</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
        </tr>
        <tr v-if="*|f4_result|* < 1.5">
            <td>Enriching data and evidence practices</td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f4_result|* >= 1.5 && *|f4_result|* < 2.5">
            <td>Enriching data and evidence practices</td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f4_result|* >= 2.5 && *|f4_result|* < 3.5">
            <td>Enriching data and evidence practices</td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
        </tr>
        <tr v-if="*|f4_result|* >= 3.5">
            <td>Enriching data and evidence practices</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
        </tr>
        <tr v-if="*|f5_result|* < 1.5">
            <td>Modelling exemplary teaching practices and professional learning</td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f5_result|* >= 1.5 && *|f5_result|* < 2.5">
            <td>Modelling exemplary teaching practices and professional learning</td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f5_result|* >= 2.5 && *|f5_result|* < 3.5">
            <td>Modelling exemplary teaching practices and professional learning</td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
        </tr>
        <tr v-if="*|f5_result|* >= 3.5">
            <td>Modelling exemplary teaching practices and professional learning</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
        </tr>
        <tr v-if="*|f6_result|* < 1.5">
            <td>Coaching and mentoring</td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f6_result|* >= 1.5 && *|f6_result|* < 2.5">
            <td>Coaching and mentoring</td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
            <td></td>
        </tr>
        <tr v-if="*|f6_result|* >= 2.5 && *|f6_result|* < 3.5">
            <td>Coaching and mentoring</td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
            <td></td>
        </tr>
        <tr v-if="*|f6_result|* >= 3.5">
            <td>Coaching and mentoring</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 178, 169)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"></svg><br>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path><br></td>
        </tr>
    </tbody>
</table>