.card-container {
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: none;
}

.card-actions.rsNoDrag {
    padding: 1em 0 0 0;
}

.card-content {
    padding: 0 1em 0em !important;
}

.vertical-center {
    display: block;
}

.card-actions {
    position: relative;
}