.font-xlarge {
    color: #f59e28;
    text-align: center;
    padding: 1em;
    font-size: 32px !important;
}

.page {
    padding-top: 20px;
}

section.page.title-page .font-xlarge {
    font-size: 55px !important;
}

section.page.title-page {
    min-height: 1000px !important;
    border: 4mm solid #f59e28 !important;
    background: no-repeat url(https://d211yo6vt4n0fx.cloudfront.net/survey/31894/reporting-dashboard/1646/background_image.png) left bottom;
    page-break-after: always;
    page-break-inside: avoid;
}

tr td:nth-child(5) {
    max-width: 280px;
    padding: 4px;
}

tr td:nth-child(5) img {
    max-width: 280px;
}

.table table img {
    max-width: 100%;
}

.table table th,
.table table td {
    min-width: 60px;
}