<p class="font-medium"></p>
<p class="font-medium"></p>
<p><br><br><br></p>
<p class="font-medium"><br></p>
<p class="font-medium"> <span class="font-large" v-if="*|f88_result|*>4.99">Your company is in the top 25% compared to your peers</span><span class="font-large" v-if="*|f88_result|*>4.24 && *|f88_result|*<5.00">Your company is in the top 50% compared to your peers</span>
    <span
        class="font-large" v-if="*|f88_result|*<4.25">Your company is in the bottom 49% compared to your peers</span>
</p>