<table id="table-widget" class="ct-table header" align="center">
    <thead>
        <tr>
            <th class="focus-visible"></th>
            <th><strong>PRIMARY</strong></th>
            <th><strong>DEVELOPING</strong></th>
            <th><strong>ROBUST</strong></th>
            <th><strong>BEST-IN-CLASS</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>*|q6_text|*</td>
            <td class='ct-cell ct-red' v-if="0.99<*|q6_custom_score|*"></td>
            <td class='ct-cell ct-yellow' v-if="1.99<*|q6_custom_score|*"></td>
            <td class='ct-cell ct-green' v-if="2.99<*|q6_custom_score|*"></td>
            <td class='ct-cell ct-green' v-if="3.99<*|q6_custom_score|*"></td>
            <td class='ct-cell ct-blank' v-if="*|q6_custom_score|*<1"></td>
            <td class='ct-cell ct-blank' v-if="*|q6_custom_score|*<2"></td>
            <td class='ct-cell ct-blank' v-if="*|q6_custom_score|*<3"></td>
            <td class='ct-cell ct-blank' v-if="*|q6_custom_score|*<4"></td>
        </tr>
        <tr>
            <td>*|q9_text|*</td>
            <td class='ct-cell ct-red' v-if="0.99<*|q9_custom_score|*"></td>
            <td class='ct-cell ct-yellow' v-if="1.99<*|q9_custom_score|*"></td>
            <td class='ct-cell ct-green' v-if="2.99<*|q9_custom_score|*"></td>
            <td class='ct-cell ct-green' v-if="3.99<*|q9_custom_score|*"></td>
            <td class='ct-cell ct-blank' v-if="*|q9_custom_score|*<1"></td>
            <td class='ct-cell ct-blank' v-if="*|q9_custom_score|*<2"></td>
            <td class='ct-cell ct-blank' v-if="*|q9_custom_score|*<3"></td>
            <td class='ct-cell ct-blank' v-if="*|q9_custom_score|*<4"></td>
        </tr>
    </tbody>
</table>

https://s.surveyanyplace.com/s/hraqdtsw?rid=UID_LXOpZG9Ns