@font-face {
    font-family: "Canela Light";
    src: url("https://surveyanyplace.s3.amazonaws.com/custom/yokeconsultancy/Canela-Light.otf");
}

#test1 {
    font-family: "Canela Light" !important;
}

@font-face {
    font-family: "Effra Std";
    src: url("https: //surveyanyplace.s3.amazonaws.com/custom/yokeconsultancy/Effra_Std_Bd.ttf");
}

#test2 {
    font-family: "Effra Std" !important;
}

.title-page .logo {
    margin: auto;
}

.gauge_widget .chart-wrapper {
    margin: -80px auto -30px !important;
}

.gauge_widget .chart-wrapper .highcharts-background {
    fill: none;
}

.highcharts-label.highcharts-data-label.highcharts-data-label-color-0.highcharts-tracker span div span::after {
    content: " %";
}

* .page-header-space {
    background-image: url(https://i.imgur.com/tX43fKk.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80px;
    position: relative;
    background-position: top;
}

.page:nth-child(1) .page-header-space {
    background-image: none;
    height: 0;
}

.sub-header {
    position: relative;
    margin: 0 auto;
}

section.title-page .logo {
    max-width: 750px;
    max-height: 750px;
}

.footer-container {
    margin-left: 635px;
}

section.title-page p,
section.title-page .bottom-container div,
section.title-page .bottom-container div {
    display: block;
}