#widget_1.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_3.template-widget.text p:nth-child(4),
#widget_3.template-widget.text p:nth-child(23) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_5.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_11.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_17.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_20.template-widget.text p:nth-child(2) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_24.template-widget.text p:nth-child(2) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_28.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_32.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_34 table th {
    text-align: center !important;
}

#widget_34 table {
    text-align: center;
}

#widget_36.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_39.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_40 table {
    text-align: center;
}

#widget_42.template-widget.text p:nth-child(3),
#widget_42.template-widget.text p:nth-child(12),
#widget_42.template-widget.text p:nth-child(14),
#widget_42.template-widget.text p:nth-child(16),
#widget_42.template-widget.text p:nth-child(18) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_45 table th {
    color: #000;
    background-color: #fc3c3c;
}

#widget_48 table th {
    color: #000;
    background-color: #fdfd51;
}

#widget_51 table th {
    color: #000;
    background-color: #acacf8;
}

#widget_54 table th {
    color: #000;
    background-color: #70fc70;
}

#widget_57 table th {
    color: #000;
    background-color: #ffa500;
}

#widget_60 table th {
    color: #000;
    background-color: #40e0d0;
}

#widget_63 table th {
    color: #000;
    background-color: #d6a3f6;
}

#widget_66 table th {
    color: #000;
    background-color: #dcba07;
}

#widget_68.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_75.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_80.template-widget.text p:nth-child(3) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_86.template-widget.text p:nth-child(2),
#widget_85.template-widget.text p:nth-child(9) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_88.template-widget.text p:nth-child(4) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#widget_90.template-widget.text p:nth-child(2) {
    border: 1px #000 solid;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.template-widget.kpi .kpi-container .circle-container {
    padding: 0 25px;
}

.template-widget.table table {
    width: 75% !important;
}

.template-widget.table table th {
    width: 33%;
}

#widget_22.template-widget.kpi {
    padding-top: 150px;
}


/* ----- ADDED BY SA ----- */


/* CUSTOM TABLE CSS */

#widget_45 table {
    width: 75%;
    text-align: center;
}

#widget_45 table th,
#widget_45 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_45 table th:nth-child(1),
#widget_45 table th:nth-child(2) {
    width: 40%;
}

#widget_45 table th {
    color: #000000
}

#widget_48 table {
    width: 75%;
    text-align: center;
}

#widget_48 table th,
#widget_48 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_48 table th:nth-child(1),
#widget_48 table th:nth-child(2) {
    width: 40%;
}

#widget_48 table th {
    color: #000000
}

#widget_51 table {
    width: 75%;
    text-align: center;
}

#widget_51 table th,
#widget_51 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_51 table th:nth-child(1),
#widget_51 table th:nth-child(2) {
    width: 40%;
}

#widget_51 table th {
    color: #000000
}

#widget_54 table {
    width: 75%;
    text-align: center;
}

#widget_54 table th,
#widget_54 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_54 table th:nth-child(1),
#widget_54 table th:nth-child(2) {
    width: 40%;
}

#widget_54 table th {
    color: #000000
}

#widget_57 table {
    width: 75%;
    text-align: center;
}

#widget_57 table th,
#widget_57 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_57 table th:nth-child(1),
#widget_57 table th:nth-child(2) {
    width: 40%;
}

#widget_57 table th {
    color: #000000
}

#widget_60 table {
    width: 75%;
    text-align: center;
}

#widget_60 table th,
#widget_60 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_60 table th:nth-child(1),
#widget_60 table th:nth-child(2) {
    width: 40%;
}

#widget_60 table th {
    color: #000000
}

#widget_63 table {
    width: 75%;
    text-align: center;
}

#widget_63 table th,
#widget_63 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_63 table th:nth-child(1),
#widget_63 table th:nth-child(2) {
    width: 40%;
}

#widget_63 table th {
    color: #000000
}

#widget_66 table {
    width: 75%;
    text-align: center;
}

#widget_66 table th,
#widget_66 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_66 table th:nth-child(1),
#widget_66 table th:nth-child(2) {
    width: 40%;
}

#widget_66 table th {
    color: #000000
}

#widget_1 span p:nth-child(2) {
    margin: auto;
}