<table id="table-widget" class="header" align="center">
    <thead>
        <tr>
            <th>*|qb8_text|* </span>
            </th>
            <th>*|External_field_Klanten_Maturiteit|*</th>
            <th>*|External_field_Klanten_Maturiteit_FASE_NIVEAU|*</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>VRAAG</td>
            <td>UW ANTWOORD</td>
            <td>GAP SIGNIFICANTIE</td>
        </tr>
        <tr>
            <td>*|q60_text|*</td>
            <td>*|EXTERNAL_FIELD_Q60_A|*</td>
            <td v-if="`*|External_field_GAP_Q60|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q60|*</td>
            <td v-if="`*|External_field_GAP_Q60|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q60|*</td>
            <td v-if="`*|External_field_GAP_Q60|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q60|*</td>
            <td v-if="`*|External_field_GAP_Q60|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q60|*</td>
        </tr>
        <tr>
            <td>*|q61_text|*</td>
            <td>*|EXTERNAL_FIELD_Q61_A|*</td>
            <td v-if="`*|External_field_GAP_Q61|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q61|*</td>
            <td v-if="`*|External_field_GAP_Q61|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q61|*</td>
            <td v-if="`*|External_field_GAP_Q61|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q61|*</td>
            <td v-if="`*|External_field_GAP_Q61|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q61|*</td>
        </tr>
        <tr>
            <td>*|q62_text|*</td>
            <td>*|EXTERNAL_FIELD_Q62_A|*</td>
            <td v-if="`*|External_field_GAP_Q62|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q62|*</td>
            <td v-if="`*|External_field_GAP_Q62|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q62|*</td>
            <td v-if="`*|External_field_GAP_Q62|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q62|*</td>
            <td v-if="`*|External_field_GAP_Q62|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q62|*</td>
        </tr>
        <tr>
            <td>*|q63_text|*</td>
            <td>*|EXTERNAL_FIELD_Q63_A|*</td>
            <td v-if="`*|External_field_GAP_Q63|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q63|*</td>
            <td v-if="`*|External_field_GAP_Q63|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q63|*</td>
            <td v-if="`*|External_field_GAP_Q63|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q63|*</td>
            <td v-if="`*|External_field_GAP_Q63|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q63|*</td>
        </tr>
        <tr>
            <td>*|q64_text|*</td>
            <td>*|EXTERNAL_FIELD_Q64_A|*</td>
            <td v-if="`*|External_field_GAP_Q64|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q64|*</td>
            <td v-if="`*|External_field_GAP_Q64|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q64|*</td>
            <td v-if="`*|External_field_GAP_Q64|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q64|*</td>
            <td v-if="`*|External_field_GAP_Q64|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q64|*</td>
        </tr>
        <tr>
            <td>*|q65_text|*</td>
            <td>*|EXTERNAL_FIELD_Q65_A|*</td>
            <td v-if="`*|External_field_GAP_Q65|*`==`Minimal`" style="background-color:#ffff00">*|External_field_GAP_Q65|*</td>
            <td v-if="`*|External_field_GAP_Q65|*`==`Significant`" style="background-color:#ffa500">*|External_field_GAP_Q65|*</td>
            <td v-if="`*|External_field_GAP_Q65|*`==`Substantial`" style="background-color:#ff0000">*|External_field_GAP_Q65|*</td>
            <td v-if="`*|External_field_GAP_Q65|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|External_field_GAP_Q65|*</td>
        </tr>
    </tbody>
</table>