<div v-if="*|f128_avg_result|* > 2.39">
    <p> A high score suggests that your team has the time and space to think, experiment and come up with new ideas for the future. The team is able to learn fast from failures and pivot quickly to keep pace with fast, evolving conditions. They are constantly
        rethinking past assumptions and are able to evaluate new ways towards becoming more productive as well as what needs to improve, in order to scale and grow. </p>
</div>
<div v-if="*|f128_avg_result|* < 2.40 && *|f128_avg_result|* > 1.59">
    <p> A mid-level score suggests that team members may need further encouragement and support to voice out their forward looking ideas, or to pivot and move quickly to execute these ideas. You can create dedicated time for reflection, learning and renewal
        through regular check-ins. This should help the team rethink past assumptions and find new ways to operate based on what their reflections reveal. </p>
</div>
<div v-if="*|f128_avg_result|* < 1.60">
    <p> A low score suggests that the team might be falling into the trap of performing to status quo, and operate on an autopilot mode, impeding the team's ability to adapt, scale and grow. Your team members may find themselves following routines and structures
        and missing out on potential opportunities. You can create dedicated time for reflection through regular check-ins where team members can share their views on what is working well, what needs to go, and how can they keep on improving for the team
        to scale and grow. </p>
</div>