/* ADDED BY SA */


/* MEANINGFUL RS BAR CHART */

#widget_19,
#widget_20,
#widget_21 {
    transform: scale(0.99, 1);
}

#widget_19 .chart-wrapper,
#widget_20 .chart-wrapper,
#widget_21 .chart-wrapper {
    transform: translateX(0px);
}


/* CLARITY & ALLIGNMENT BAR CHART */

#widget_22,
#widget_23,
#widget_24 {
    transform: scale(0.93, 1);
}

#widget_22 .chart-wrapper,
#widget_23 .chart-wrapper,
#widget_24 .chart-wrapper {
    transform: translateX(20px);
}


/* HONEST CONVERSATIONS BAR CHART */

#widget_25,
#widget_26,
#widget_27 {
    transform: scale(0.96, 1);
}

#widget_25 .chart-wrapper,
#widget_26 .chart-wrapper,
#widget_27 .chart-wrapper {
    transform: translateX(10px);
}


/* TEAM ENERGY BAR CHART */

#widget_28,
#widget_29,
#widget_30 {
    transform: scale(0.87, 1);
}

#widget_28 .chart-wrapper,
#widget_29 .chart-wrapper,
#widget_30 .chart-wrapper {
    transform: translateX(42px);
}


/* LEARNING & AGILITY BAR CHART */

#widget_31,
#widget_32,
#widget_33 {
    transform: scale(0.92, 1);
}

#widget_31 .chart-wrapper,
#widget_32 .chart-wrapper,
#widget_33 .chart-wrapper {
    transform: translateX(26px);
}


/* TOP 6 HIGHEST and LOWEST 6 TABLES */

#widget_73 table,
#widget_74 table,
#widget_78 table,
#widget_79 table {
    border-spacing: 15px;
    border-collapse: separate;
    font-size: 16px;
}

#widget_73 table td,
#widget_78 table td {
    border: none;
}

#widget_73 table td:nth-child(1),
#widget_74 table td:nth-child(1),
#widget_78 table td:nth-child(1),
#widget_79 table td:nth-child(1) {
    width: 60%;
    height: 28px;
}

#widget_73 table td:nth-child(2),
#widget_73 table td:nth-child(3),
#widget_74 table td:nth-child(2),
#widget_74 table td:nth-child(3),
#widget_78 table td:nth-child(2),
#widget_78 table td:nth-child(3),
#widget_79 table td:nth-child(2),
#widget_79 table td:nth-child(3) {
    width: 20%;
    height: 28px;
    text-align: center;
}

#widget_74 table td:nth-child(3) {
    background-color: #90ee90;
}

#widget_79 table td:nth-child(3) {
    background-color: #f08080;
}


/* ------------------------------------- */

h1 {
    font-size: 68px;
    text-align: left;
}

h2 {
    font-size: 18px;
    text-align: left;
}

#widget_6,
#widget_7,
#widget_8,
#widget_9,
#widget_10,
#widget_11,
#widget_12,
#widget_13,
#widget_14,
#widget_15,
#widget_56 {
    font: 16px/1em Roboto, 'NotoColorEmoji', sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    float: left;
    box-sizing: border-box;
}

#widget_6,
#widget_8,
#widget_10,
#widget_12,
#widget_14 {
    width: 30%;
    padding-right: 10px;
}

#widget_7,
#widget_9,
#widget_11,
#widget_13,
#widget_15 {
    width: 70%;
    padding-left: 10px;
    max-width: 100%;
    line-height: 1.5em;
}

#widget_51 {
    font: 16px/1em Roboto, 'NotoColorEmoji', sans-serif;
    border-collapse: collapse;
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    line-height: 1.5em;
    text-align: left;
}

#widget_56 {
    vertical-align: top;
    width: 100%;
    padding-right: 10px;
}


/*#widget_69,
#widget_72,

 #widget_74, 

#widget_76 {
    float: left;
    width: 40%;
}*/


/*-----start---added by Jade-----*/


/*padding for sub-dimensions, images and boxes*/


/* MEANINGFUL RELATIONSHIP-SUB BAR CHARTS - H,M,L */

#widget_96,
#widget_97,
#widget_98,
#widget_104,
#widget_105,
#widget_106,
#widget_112,
#widget_113,
#widget_114,
#widget_174,
#widget_175,
#widget_176,
#widget_182,
#widget_183,
#widget_184,
#widget_215,
#widget_216,
#widget_217,
#widget_223,
#widget_224,
#widget_225,
#widget_254,
#widget_256,
#widget_258,
#widget_262,
#widget_263,
#widget_264,
#widget_294,
#widget_295,
#widget_296 {
    transform: scale(1.35, 1);
}

#widget_96 .chart-wrapper,
#widget_97 .chart-wrapper,
#widget_98 .chart-wrapper,
#widget_104 .chart-wrapper,
#widget_105 .chart-wrapper,
#widget_106 .chart-wrapper,
#widget_112 .chart-wrapper,
#widget_113 .chart-wrapper,
#widget_114 .chart-wrapper,
#widget_174 .chart-wrapper,
#widget_175 .chart-wrapper,
#widget_176 .chart-wrapper,
#widget_182 .chart-wrapper,
#widget_183 .chart-wrapper,
#widget_184 .chart-wrapper,
#widget_215 .chart-wrapper,
#widget_216 .chart-wrapper,
#widget_217 .chart-wrapper,
#widget_223 .chart-wrapper,
#widget_224 .chart-wrapper,
#widget_225 .chart-wrapper,
#widget_254 .chart-wrapper,
#widget_256 .chart-wrapper,
#widget_258 .chart-wrapper,
#widget_262 .chart-wrapper,
#widget_263 .chart-wrapper,
#widget_264 .chart-wrapper,
#widget_294 .chart-wrapper,
#widget_295 .chart-wrapper,
#widget_296 .chart-wrapper {
    transform: translateX(-20px);
}


/* MEANINGFUL RELATIONSHIP-SUB images*/

#widget_95 .image-container-95,
#widget_103 .image-container-103,
#widget_111 .image-container-111,
#widget_173 .image-container-173,
#widget_214 .image-container-214,
#widget_253 .image-container-253,
#widget_293 .image-container-293,
#widget_181 .image-container-181,
#widget_222 .image-container-222,
#widget_261 .image-container-261 {
    text-align: right;
    line-height: 5;
    transform: translateX(-50px);
}


/* MEANINGFUL RELATIONSHIP-box margin*/

#widget_102,
#widget_110,
#widget_118,
#widget_180,
#widget_221,
#widget_260,
#widget_300,
#widget_188,
#widget_229,
#widget_268 {
    padding: 10px;
}


/* LAST 7 IMAGES*/

#widget_320 .image-container-320,
#widget_322 .image-container-322,
#widget_324 .image-container-324,
#widget_326 .image-container-326,
#widget_328 .image-container-328,
#widget_330 .image-container-330,
#widget_332 .image-container-332 {
    width: 100%;
}

#widget_148,
#widget_155,
#widget_156,
#widget_163,
#widget_164,
#widget_171,
#widget_187,
#widget_194,
#widget_195,
#widget_218,
#widget_225,
#widget_226,
#widget_233,
#widget_249,
#widget_256,
#widget_257,
#widget_264 {
    padding-top: 9px;
    padding-bottom: 9px;
}


/* open-ended responses */

#widget_341 table {
    border: 1px #000000;
}

#widget_341 table td {
    height: 100px;
    padding: 5px;
}

#widget_341 table tr {
    height: 20px;
    padding: 5px;
}

#widget_341 table tr:nth-child(1) td {
    background-color: #fae4ac;
}


/* table for improving team energy */

#widget_291 table tbody td,
#widget_295 table tbody td {
    padding: 10px;
}


/* table for team challange*/

#widget_305 table td {
    height: 90px;
    padding: 10px;
}

#widget_305 table {
    table-layout: fixed;
    width: 100%;
}

#widget_305 table tr:nth-child(1) td {
    background-color: #fae4ac;
}


/* gauge chart */

#widget_82,
#widget_84,
#widget_86,
#widget_125,
#widget_127,
#widget_129 {
    vertical-align: top;
}


/*-----end---added by Jade-----*/


/*range of high and low score*/

.horizontalline {
    width: 100%;
    height: 12px;
    border-top: 1px solid black
}


/*average color*/

#widget_119 table,
#widget_120 table,
#widget_121 table,
#widget_123 table,
#widget_124 table,
#widget_125 table,
#widget_127 table,
#widget_128 table,
#widget_129 table {
    border-spacing: 10px;
    border-collapse: separate;
    font-size: 14px;
}

#widget_119 table td,
#widget_120 table td,
#widget_121 table td,
#widget_123 table td,
#widget_124 table td,
#widget_125 table td,
#widget_127 table td,
#widget_128 table td,
#widget_129 table td {
    border: none;
}

#widget_119 table td,
#widget_120 table td,
#widget_121 table td,
#widget_123 table td,
#widget_124 table td,
#widget_125 table td,
#widget_127 table td,
#widget_128 table td,
#widget_129 table td {
    width: 33%;
    height: 30px;
    text-align: center;
}


/*above 2.3*/

#widget_119 table td:nth-child(2),
#widget_123 table td:nth-child(2),
#widget_127 table td:nth-child(2),
#widget_131 table td:nth-child(2) {
    background-color: #51a931;
}


/*between 1.6-2.3 */

#widget_120 table td:nth-child(2),
#widget_124 table td:nth-child(2),
#widget_128 table td:nth-child(2),
#widget_132 table td:nth-child(2) {
    background-color: #e79439;
}


/*below 1.6*/

#widget_121 table td:nth-child(2),
#widget_125 table td:nth-child(2),
#widget_129 table td:nth-child(2),
#widget_133 table td:nth-child(2) {
    background-color: #ce0000;
}


/*min and max color*/

#widget_119 table td:nth-child(1),
#widget_119 table td:nth-child(3),
#widget_120 table td:nth-child(1),
#widget_120 table td:nth-child(3),
#widget_121 table td:nth-child(1),
#widget_121 table td:nth-child(3),
#widget_123 table td:nth-child(1),
#widget_123 table td:nth-child(3),
#widget_124 table td:nth-child(1),
#widget_124 table td:nth-child(3),
#widget_125 table td:nth-child(1),
#widget_125 table td:nth-child(3),
#widget_127 table td:nth-child(1),
#widget_127 table td:nth-child(3),
#widget_128 table td:nth-child(1),
#widget_128 table td:nth-child(3),
#widget_129 table td:nth-child(1),
#widget_129 table td:nth-child(3),
#widget_131 table td:nth-child(1),
#widget_131 table td:nth-child(3),
#widget_132 table td:nth-child(1),
#widget_132 table td:nth-child(3),
#widget_133 table td:nth-child(1),
#widget_133 table td:nth-child(3) {
    background-color: #D3D3D3;
}


/* #widget_73, */


/* #widget_75, */


/* ADDED BY SA */


/* RANGE BAR CHART */

#page_27 .page-container-row .column-left {
    width: 55%;
}

#page_27 .page-container-row .column-right {
    width: 45%;
}

#page_27 .column-left table {
    border-collapse: separate !important;
    border-spacing: 10px;
}

#page_27 .column-left table ol li {
    font-size: x-large;
}

#page_27 .column-left table td {
    border: none;
}

#page_27 .column-left table tr td:first-child {
    width: 85%;
    vertical-align: middle;
}

#page_27 .column-left table tr:nth-child(2) td:last-child,
#page_27 .column-left table tr:nth-child(3) td:last-child,
#page_27 .column-left table tr:nth-child(4) td:last-child,
#page_27 .column-left table tr:nth-child(5) td:last-child {
    text-align: center;
    vertical-align: middle;
    height: 30px;
    background-color: #90ee90 !important;
}

.datylon-container {
    padding-top: 40px;
}


/* #widget_279 .datylon-container,
#widget_279 .datylon-container svg {
    width: 350px !important;
} */

#page_22 {
    background-image: url(https://assets.surveyanyplace.com/survey/8541829d-6682-4f50-baf8-25bce6803d9a/templates/bdef8ca1-e7cd-4222-a49c-b716f4d07e56/kpt3oTVIQxWUFSbuCspg_1.png);
    background-size: 1075px 1535px;
    width: 1075px;
    height: 1535px;
    background-repeat: no-repeat;
    z-index: 2;
    background-origin: unset;
    top: -75px;
    left: 0px;
}

#widget_320 img {
    visibility: hidden;
}


/* #widget_320 img {
    width: 1090px;
    height: 1500px;
    z-index: 2;
    top: -75px;
    left: 0px;
} */

hr {
    border: 1px solid #242425;
    page-break-after: avoid !important;
}