<div v-if="*|f65_avg_result|* > 2.39">
    <p> Having a high-level score in in this dimension suggests that team members can manage their energy well and have the capacity to recover from work stress. Your team should be able to persevere in the face of challenges and perform in a sustainable
        way without burning out. </p>
</div>
<div v-if="*|f65_avg_result|* < 2.40 && *|f65_avg_result|* > 1.59">
    <p> A mid-level score may suggest that team members may need further encouragement and support in building rituals that will help them positively manage their energy. Watch out for individual signs of burnout amongst team members i.e. physical exhaustion,
        negative emotions and lowered performance levels to determine who needs additional support from you. </p>
</div>
<div v-if="*|f65_avg_result|* < 1.60">
    <p> Being able to manage energy is critical in sustaining performance for the long term. A low score in energy and resilience suggests that the team is at a risk of burn-out. You might be able to spot signs of physical fatigue, increased absenteeism,
        increased negativity and lower overall productivity in the team. This is a warning sign and you need to intentionally build team rituals to help team members improve their energy management. </p>
</div>