<select formcontrolname="language_code" class="form-control ng-pristine ng-valid ng-touched">
<option value="ab" class="ng-star-inserted">Abkhazian</option>
<option value="aa" class="ng-star-inserted">Afar</option>
<option value="af" class="ng-star-inserted">Afrikaans</option>
<option value="sq" class="ng-star-inserted">Albanian</option>
<option value="am" class="ng-star-inserted">Amharic</option>
<option value="ar" class="ng-star-inserted">Arabic</option>
<option value="an" class="ng-star-inserted">Aragonese</option>
<option value="hy" class="ng-star-inserted">Armenian</option>
<option value="as" class="ng-star-inserted">Assamese</option>
<option value="ay" class="ng-star-inserted">Aymara</option>
<option value="az" class="ng-star-inserted">Azerbaijani</option>
<option value="ba" class="ng-star-inserted">Bashkir</option>
<option value="eu" class="ng-star-inserted">Basque</option>
<option value="bn" class="ng-star-inserted">Bengali (Bangla)</option>
<option value="dz" class="ng-star-inserted">Bhutani</option>
<option value="bh" class="ng-star-inserted">Bihari</option>
<option value="bi" class="ng-star-inserted">Bislama</option>
<option value="br" class="ng-star-inserted">Breton</option>
<option value="bg" class="ng-star-inserted">Bulgarian</option>
<option value="my" class="ng-star-inserted">Burmese</option>
<option value="be" class="ng-star-inserted">Belarussian (Byelorussian)</option>
<option value="km" class="ng-star-inserted">Cambodian</option>
<option value="ca" class="ng-star-inserted">Catalan</option>
<option value="zh" class="ng-star-inserted">Chinese</option>
<option value="zh-Hans" class="ng-star-inserted">Chinese (Simplified)</option>
<option value="zh-Hant" class="ng-star-inserted">Chinese (Traditional)</option>
<option value="co" class="ng-star-inserted">Corsican</option>
<option value="hr" class="ng-star-inserted">Croatian</option>
<option value="cs" class="ng-star-inserted">Czech</option>
<option value="da" class="ng-star-inserted">Danish</option>
<option value="nl" class="ng-star-inserted">Dutch</option>
<option value="en" class="ng-star-inserted">English</option>
<option value="eo" class="ng-star-inserted">Esperanto</option>
<option value="et" class="ng-star-inserted">Estonian</option>
<option value="fo" class="ng-star-inserted">Faeroese</option>
<option value="fa" class="ng-star-inserted">Farsi</option>
<option value="fj" class="ng-star-inserted">Fiji</option>
<option value="fi" class="ng-star-inserted">Finnish</option>
<option value="fr" class="ng-star-inserted">French</option>
<option value="fy" class="ng-star-inserted">Frisian</option>
<option value="gl" class="ng-star-inserted">Galician</option>
<option value="gd" class="ng-star-inserted">Gaelic (Scottish)</option>
<option value="gv" class="ng-star-inserted">Gaelic (Manx)</option>
<option value="ka" class="ng-star-inserted">Georgian</option>
<option value="de" class="ng-star-inserted">German</option>
<option value="el" class="ng-star-inserted">Greek</option>
<option value="kl" class="ng-star-inserted">Greenlandic</option>
<option value="gn" class="ng-star-inserted">Guarani</option>
<option value="gu" class="ng-star-inserted">Gujarati</option>
<option value="ht" class="ng-star-inserted">Haitian Creole</option>
<option value="ha" class="ng-star-inserted">Hausa</option>
<option value="he" class="ng-star-inserted">Hebrew</option>
<option value="hi" class="ng-star-inserted">Hindi</option>
<option value="hu" class="ng-star-inserted">Hungarian</option>
<option value="is" class="ng-star-inserted">Icelandic</option>
<option value="io" class="ng-star-inserted">Ido</option>
<option value="id" class="ng-star-inserted">Indonesian</option>
<option value="ia" class="ng-star-inserted">Interlingua</option>
<option value="ie" class="ng-star-inserted">Interlingue</option>
<option value="iu" class="ng-star-inserted">Inuktitut</option>
<option value="ik" class="ng-star-inserted">Inupiak</option>
<option value="ga" class="ng-star-inserted">Irish</option>
<option value="it" class="ng-star-inserted">Italian</option>
<option value="ja" class="ng-star-inserted">Japanese</option>
<option value="jv" class="ng-star-inserted">Javanese</option>
<option value="kn" class="ng-star-inserted">Kannada</option>
<option value="ks" class="ng-star-inserted">Kashmiri</option>
<option value="kk" class="ng-star-inserted">Kazakh</option>
<option value="rw" class="ng-star-inserted">Kinyarwanda (Rwanda)</option>
<option value="ky" class="ng-star-inserted">Kirghiz</option>
<option value="rn" class="ng-star-inserted">Kirundi (Rundi)</option>
<option value="ko" class="ng-star-inserted">Korean</option>
<option value="ku" class="ng-star-inserted">Kurdish</option>
<option value="lo" class="ng-star-inserted">Laothian</option>
<option value="la" class="ng-star-inserted">Latin</option>
<option value="lv" class="ng-star-inserted">Latvian (Lettish)</option>
<option value="li" class="ng-star-inserted">Limburgish (Limburger)</option>
<option value="ln" class="ng-star-inserted">Lingala</option>
<option value="lt" class="ng-star-inserted">Lithuanian</option>
<option value="mk" class="ng-star-inserted">Macedonian</option>
<option value="mg" class="ng-star-inserted">Malagasy</option>
<option value="ms" class="ng-star-inserted">Malay</option>
<option value="ml" class="ng-star-inserted">Malayalam</option>
<option value="mt" class="ng-star-inserted">Maltese</option>
<option value="mi" class="ng-star-inserted">Maori</option>
<option value="mr" class="ng-star-inserted">Marathi</option>
<option value="mn" class="ng-star-inserted">Mongolian</option>
<option value="na" class="ng-star-inserted">Nauru</option>
<option value="ne" class="ng-star-inserted">Nepali</option>
<option value="no" class="ng-star-inserted">Norwegian</option>
<option value="oc" class="ng-star-inserted">Occitan</option>
<option value="or" class="ng-star-inserted">Oriya</option>
<option value="om" class="ng-star-inserted">Oromo (Afaan Oromo)</option>
<option value="ps" class="ng-star-inserted">Pashto (Pushto)</option>
<option value="pl" class="ng-star-inserted">Polish</option>
<option value="pt" class="ng-star-inserted">Portuguese</option>
<option value="pa" class="ng-star-inserted">Punjabi</option>
<option value="qu" class="ng-star-inserted">Quechua</option>
<option value="rm" class="ng-star-inserted">Rhaeto-Romance</option>
<option value="ro" class="ng-star-inserted">Romanian</option>
<option value="ru" class="ng-star-inserted">Russian</option>
<option value="sm" class="ng-star-inserted">Samoan</option>
<option value="sg" class="ng-star-inserted">Sangro</option>
<option value="sa" class="ng-star-inserted">Sanskrit</option>
<option value="sr" class="ng-star-inserted">Serbian</option>
<option value="sh" class="ng-star-inserted">Serbo-Croatian</option>
<option value="st" class="ng-star-inserted">Sesotho</option>
<option value="tn" class="ng-star-inserted">Setswana</option>
<option value="sn" class="ng-star-inserted">Shona</option>
<option value="ii" class="ng-star-inserted">Sichuan Yi</option>
<option value="sd" class="ng-star-inserted">Sindhi</option>
<option value="si" class="ng-star-inserted">Sinhalese</option>
<option value="ss" class="ng-star-inserted">Siswati</option>
<option value="sk" class="ng-star-inserted">Slovak</option>
<option value="sl" class="ng-star-inserted">Slovenian</option>
<option value="so" class="ng-star-inserted">Somali</option>
<option value="es" class="ng-star-inserted">Spanish</option>
<option value="su" class="ng-star-inserted">Sundanese</option>
<option value="sw" class="ng-star-inserted">Swahili (Kiswahili)</option>
<option value="sv" class="ng-star-inserted">Swedish</option>
<option value="tl" class="ng-star-inserted">Tagalog</option>
<option value="tg" class="ng-star-inserted">Tajik</option>
<option value="ta" class="ng-star-inserted">Tamil</option>
<option value="tt" class="ng-star-inserted">Tatar</option>
<option value="te" class="ng-star-inserted">Telugu</option>
<option value="th" class="ng-star-inserted">Thai</option>
<option value="bo" class="ng-star-inserted">Tibetan</option>
<option value="ti" class="ng-star-inserted">Tigrinya</option>
<option value="to" class="ng-star-inserted">Tonga</option>
<option value="ts" class="ng-star-inserted">Tsonga</option>
<option value="tr" class="ng-star-inserted">Turkish</option>
<option value="tk" class="ng-star-inserted">Turkmen</option>
<option value="tw" class="ng-star-inserted">Twi</option>
<option value="ug" class="ng-star-inserted">Uighur</option>
<option value="uk" class="ng-star-inserted">Ukrainian</option>
<option value="ur" class="ng-star-inserted">Urdu</option>
<option value="uz" class="ng-star-inserted">Uzbek</option>
<option value="vi" class="ng-star-inserted">Vietnamese</option>
<option value="vo" class="ng-star-inserted">Volapük</option>
<option value="wa" class="ng-star-inserted">Wallon</option>
<option value="cy" class="ng-star-inserted">Welsh</option>
<option value="wo" class="ng-star-inserted">Wolof</option>
<option value="xh" class="ng-star-inserted">Xhosa</option>
<option value="yi" class="ng-star-inserted">Yiddish</option>
<option value="yo" class="ng-star-inserted">Yoruba</option>
<option value="zu" class="ng-star-inserted">Zulu</option>
</select>