.rangeslider {
    height: 1em;
}

.rangeslider-markers .marker {
    height: 1em;
}

.rangeslider__handle:before {
    top: 0em;
    left: 0em;
    width: 3em;
    height: 3em;
}

#content0 .card {
    text-align: left !important;
}