<table id="table-widget" class="header" align="center">
    <thead>
        <tr>
            <th class="focus-visible"><span class="font-small">*|qb7_text|*</span></th>
            <th><span class="font-small">*|EXTERNAL_FIELD_WAARDE_MATURITEIT_AP|*</span></th>
            <th><span class="font-xsmall">*|EXTERNAL_FIELD_WAARDE_MATURITEIT_FASE_NIVEAU_AP|*</span></th>
            <th><span class="font-xsmall">PLACEHOLDER</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>VRAAG</td>
            <td>UW ANTWOORD</td>
            <td class="focus-visible" data-focus-visible-added="">GAP SIGNIFICANTIE</td>
            <td class="focus-visible" data-focus-visible-added="">PLACEHOLDER</td>
        </tr>
        <tr>
            <td>*|q101_text|*</td>
            <td>*|EXTERNAL_FIELD_Q51_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP51|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP51|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP51|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP51|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP51|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP51|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP51|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP51|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP51|*`==`Minimal`" style="background-color:#ffff00">PLACEHOLDER</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP51|*`==`Significant`" style="background-color:#ffa500">PLACEHOLDER</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP51|*`==`Substantial`" style="background-color:#ff0000">PLACEHOLDER</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP51|*`==`Best Practice Achieved`" style="background-color:#00ff00">PLACEHOLDER</td>
        </tr>
        <tr>
            <td>*|q103_text|*</td>
            <td>*|EXTERNAL_FIELD_Q52_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP52|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP52|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP52|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP52|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP52|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP52|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP52|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP52|*</td>
        </tr>
        <tr>
            <td>*|q105_text|*</td>
            <td>*|EXTERNAL_FIELD_Q53_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP53|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP53|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP53|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP53|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP53|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP53|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP53|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP53|*</td>
        </tr>
        <tr>
            <td>*|q107_text|*</td>
            <td>*|EXTERNAL_FIELD_Q54_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP54|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP54|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP54|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP54|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP54|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP54|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP54|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP54|*</td>
        </tr>
        <tr>
            <td>*|q109_text|*</td>
            <td>*|EXTERNAL_FIELD_Q55_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP55|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP55|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP55|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP55|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP55|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP55|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP55|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP55|*</td>
        </tr>
        <tr>
            <td>*|q111_text|*</td>
            <td>*|EXTERNAL_FIELD_Q56_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP56|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP56|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP56|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP56|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP56|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP56|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP56|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP56|*</td>
        </tr>
        <tr>
            <td>*|q113_text|*</td>
            <td>*|EXTERNAL_FIELD_Q57_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP57|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP57|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP57|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP57|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP57|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP57|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP57|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP57|*</td>
        </tr>
        <tr>
            <td>*|q115_text|*</td>
            <td>*|EXTERNAL_FIELD_Q58_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP58|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP58|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP58|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP58|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP58|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP58|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP58|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP58|*</td>
        </tr>
        <tr>
            <td>*|q117_text|*</td>
            <td>*|EXTERNAL_FIELD_Q59_A_AP|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP59|*`==`Minimal`" style="background-color:#ffff00">*|EXTERNAL_FIELD_GAP_AP59|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP59|*`==`Significant`" style="background-color:#ffa500">*|EXTERNAL_FIELD_GAP_AP59|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP59|*`==`Substantial`" style="background-color:#ff0000">*|EXTERNAL_FIELD_GAP_AP59|*</td>
            <td v-if="`*|EXTERNAL_FIELD_GAP_AP59|*`==`Best Practice Achieved`" style="background-color:#00ff00">*|EXTERNAL_FIELD_GAP_AP59|*</td>
        </tr>
    </tbody>
</table>