#widget_20 table {
    width: 90%
}

#widget_20 table th,
#widget_20 table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#widget_20 table th {
    color: #ffffff;
    background: #0904a1;
}

#widget_20 table.column th {
    text-align: left;
    font-weight: 200;
}