<table align="center" id="table-widget" class="header">
    <thead>
        <tr>
            <th>LIFE-DOMAIN</th>
            <th>SCORE</th>
            <th>STATUS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>HEALTH</td>
            <td>*|f4_result|* %</td>
            <td v-if="*|f4_result|* < 40">CRITICAL</td>
            <td v-if="39.99 < *|f4_result|* && *|f4_result|* < 70">PRIORITY</td>
            <td v-if="69.99 < *|f4_result|* && *|f4_result|* < 86">ATTENTION</td>
            <td v-if="85.99 < *|f4_result|*">OPTIMAL</td>
        </tr>
        <tr>
            <td>BEING</td>
            <td>*|f46_result|* %</td>
            <td v-if="*|f46_result|* < 40">CRITICAL</td>
            <td v-if="39.99 < *|f46_result|* && *|f46_result|* < 70">PRIORITY</td>
            <td v-if="69.99 < *|f46_result|* && *|f46_result|* < 86">ATTENTION</td>
            <td v-if="85.99 < *|f46_result|*">OPTIMAL</td>
        </tr>
        <tr>
            <td>SOCIAL</td>
            <td>*|f35_result|* %</td>
            <td v-if="*|f35_result|* < 40">CRITICAL</td>
            <td v-if="39.99 < *|f35_result|* && *|f35_result|* < 70">PRIORITY</td>
            <td v-if="69.99 < *|f35_result|* && *|f35_result|* < 86">ATTENTION</td>
            <td v-if="85.99 < *|f35_result|*">OPTIMAL</td>
        </tr>
        <tr>
            <td>VOCATION</td>
            <td>*|f47_result|* %</td>
            <td v-if="*|f47_result|* < 40">CRITICAL</td>
            <td v-if="39.99 < *|f47_result|* && *|f47_result|* < 70">PRIORITY</td>
            <td v-if="69.99 < *|f47_result|* && *|f47_result|* < 86">ATTENTION</td>
            <td v-if="85.99 < *|f47_result|*">OPTIMAL</td>
        </tr>
        <tr>
            <td>WEALTH</td>
            <td>*|f45_result|* %</td>
            <td v-if="*|f45_result|* < 40">CRITICAL</td>
            <td v-if="39.99 < *|f45_result|* && *|f45_result|* < 70">PRIORITY</td>
            <td v-if="69.99 < *|f45_result|* && *|f45_result|* < 86">ATTENTION</td>
            <td v-if="85.99 < *|f45_result|*">OPTIMAL</td>
        </tr>
    </tbody>
</table>