/* Footer */

div.top-container.fr-view {
    text-align: center;
}

/* Sleep */
.image-container-widget_85 img,
.image-container-widget_86 img,
.image-container-widget_87 img,
.image-container-widget_88 img,
.image-container-widget_89 img {
    margin: 15px 0;
}

/* Physical */
.image-container-widget_118 img,
.image-container-widget_119 img,
.image-container-widget_120 img,
.image-container-widget_121 img,
.image-container-widget_122 img {
    margin: 15px 0;
}

/* Mental */
.image-container-widget_151 img,
.image-container-widget_152 img,
.image-container-widget_153 img,
.image-container-widget_154 img,
.image-container-widget_155 img {
    margin: 15px 0;
}

/* Work */
.image-container-widget_184 img,
.image-container-widget_185 img,
.image-container-widget_186 img,
.image-container-widget_187 img,
.image-container-widget_188 img {
    margin: 15px 0;
}

/* Self Care */
.image-container-widget_217 img,
.image-container-widget_218 img,
.image-container-widget_219 img,
.image-container-widget_220 img,
.image-container-widget_221 img {
    margin: 15px 0;
}

/* Social */
.image-container-widget_250 img,
.image-container-widget_251 img,
.image-container-widget_252 img,
.image-container-widget_253 img,
.image-container-widget_254 img {
    margin: 15px 0;
}

/* Life Joy */
.image-container-widget_283 img,
.image-container-widget_284 img,
.image-container-widget_285 img,
.image-container-widget_286 img,
.image-container-widget_287 img {
    margin: 15px 0;
}