<div class="results">
    <h3>Your highest scoring MVCs (scores above 8)&nbsp;are</h3>
    <div class="header-line"></div>
    <p class="font-medium"></p>
    <div v-if="*|f7_result|* > 8">
        <p>*|q3_text|*</p>
    </div>
    <div v-if="*|f8_result|* > 8">
        <p>*|q4_text|*</p>
    </div>
    <div v-if="*|f9_result|* > 8">
        <p>*|q5_text|*</p>
    </div>
    <div v-if="*|f10_result|* > 8">
        <p>*|q6_text|*</p>
    </div>
    <div v-if="*|f11_result|* > 8">
        <p>*|q7_text|*</p>
    </div>
    <div v-if="*|f12_result|* > 8">
        <p>*|q8_text|*</p>
    </div>
    <div v-if="*|f13_result|* > 8">
        <p>*|q9_text|*</p>
    </div>
    <div v-if="*|f14_result|* > 8">
        <p>*|q10_text|*</p>
    </div>
    <div v-if="*|f15_result|* > 8">
        <p>*|q11_text|*</p>
    </div>
    <div v-if="*|f16_result|* > 8">
        <p>*|q12_text|*</p>
    </div>
    <div v-if="*|f17_result|* > 8">
        <p>*|q13_text|*</p>
    </div>
    <div v-if="*|f18_result|* > 8">
        <p>*|q14_text|*</p>
    </div>
    <div v-if="*|f19_result|* > 8">
        <p>*|q15_text|*</p>
    </div>
    <div v-if="*|f20_result|* > 8">
        <p>*|q16_text|*</p>
    </div>
    <div v-if="*|f21_result|* > 8">
        <p>*|q17_text|*</p>
    </div>
    <div v-if="*|f22_result|* > 8">
        <p>*|q18_text|*</p>
    </div>
    <div v-if="*|f23_result|* > 8">
        <p>*|q19_text|*</p>
    </div>
    <div v-if="*|f24_result|* > 8">
        <p>*|q20_text|*</p>
    </div>
    <div v-if="*|f25_result|* > 8">
        <p>*|q21_text|*</p>
    </div>
    <div v-if="*|f26_result|* > 8">
        <p>*|q22_text|*</p>
    </div>
    <div v-if="*|f27_result|* > 8">
        <p>*|q23_text|*</p>
    </div>
    <div v-if="*|f28_result|* > 8">
        <p>*|q24_text|*</p>
    </div>
    <div v-if="*|f29_result|* > 8">
        <p>*|q25_text|*</p>
    </div>
    <div v-if="*|f30_result|* > 8">
        <p>*|q26_text|*</p>
    </div>
    <div v-if="*|f31_result|* > 8">
        <p>*|q27_text|*</p>
    </div>
    <div v-if="*|f32_result|* > 8">
        <p>*|q28_text|*</p>
    </div>
    <div v-if="*|f33_result|* > 8">
        <p>*|q29_text|*</p>
    </div>
    <div v-if="*|f34_result|* > 8">
        <p>*|q30_text|*</p>
    </div>
    <div v-if="*|f35_result|* > 8">
        <p>*|q31_text|*</p>
    </div>
    <div v-if="*|f36_result|* > 8">
        <p>*|q32_text|*</p>
    </div>
    <div v-if="*|f37_result|* > 8">
        <p>*|q33_text|*</p>
    </div>
    <div v-if="*|f38_result|* > 8">
        <p>*|q34_text|*</p>
    </div>
    <div v-if="*|f39_result|* > 8">
        <p>*|q35_text|*</p>
    </div>
    <div v-if="*|f40_result|* > 8">
        <p>*|q36_text|*</p>
    </div>
    <div v-if="*|f41_result|* > 8">
        <p>*|q37_text|*</p>
    </div>
    <div v-if="*|f42_result|* > 8">
        <p>*|q38_text|*</p>
    </div>
    <div v-if="*|f43_result|* > 8">
        <p>*|q39_text|*</p>
    </div>
    <div v-if="*|f44_result|* > 8">
        <p>*|q40_text|*</p>
    </div>
    <div v-if="*|f45_result|* > 8">
        <p>*|q41_text|*</p>
    </div>
    <div v-if="*|f45_result|* > 8">
        <p>*|q42_text|*</p>
    </div>
    <div v-if="*|f46_result|* > 8">
        <p>*|q43_text|*</p>
    </div>
    <div v-if="*|f47_result|* > 8">
        <p>*|q44_text|*</p>
    </div>
    <div v-if="*|f48_result|* > 8">
        <p>*|q45_text|*</p>
    </div>
    <div v-if="*|f49_result|* > 8">
        <p>*|q46_text|*</p>
    </div>
    <div v-if="*|f50_result|* > 8">
        <p>*|q47_text|*</p>
    </div>
</div>