<div v-if="*|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|* > 21">
    <!-- CR SCORE > 21 -->
    <div><strong><span class="font-xlarge" style="color: rgb(0, 176, 240);">CREATIVE INSPIRATION</span></strong></div>
    <div><br></div>
    <div>This score corresponds to your team’s ability to find and discover creative inspiration that can be applied to innovative outcomes. Your organization is rated as <strong><span style="color: rgb(0, 176, 240);">EXCELLENT</span></strong> in this category,
        scoring an average of <strong><span style="color: rgb(0, 176, 240);">*|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|*</span></strong> out of a total of 25 points. &nbsp;</div>
    <div><br></div>
    <div>Way to go!</div>
    <div><br></div>
    <div>The following is a breakdown of how your team answered the questions regarding Creative Inspiration.</div>
    <div><br></div>
    <div><br></div>
</div>
<div v-if="*|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|* < 22 && *|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|* > 18">
    <!-- 22 > CR SCORE > 18 -->
    <div><strong><span class="font-xlarge" style="color: rgb(0, 176, 240);">CREATIVE INSPIRATION</span></strong></div>
    <div><br></div>
    <div>This score corresponds to your team’s ability to find and discover creative inspiration that can be applied to innovative outcomes. Your organization is rated as <strong><span style="color: rgb(85, 191, 59);">ABOVE AVERAGE</span></strong> in this
        category, scoring an average of <strong><span style="color: rgb(85, 191, 59);">*|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|*</span></strong> out of a total of 25 points. &nbsp;</div>
    <div><br></div>
    <div>Way to go!</div>
    <div><br></div>
    <div>The following is a breakdown of how your team answered the questions regarding Creative Inspiration.</div>
    <div><br></div>
    <div><br></div>
</div>
<div v-if="*|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|* < 19 && *|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|* > 16">
    <!-- 19 > CR SCORE > 16 -->
    <div><strong><span class="font-xlarge" style="color: rgb(0, 176, 240);">CREATIVE INSPIRATION</span></strong></div>
    <div><br></div>
    <div>This score corresponds to your team’s ability to find and discover creative inspiration that can be applied to innovative outcomes. Your organization is rated as<strong>&nbsp;<span style="color: rgb(221, 223, 13);">AVERAGE</span></strong> in this
        category, scoring an average of <strong><span style="color: rgb(221, 223, 13);">*|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|*</span></strong>out of a total of 25 points. &nbsp;</div>
    <div><br></div>
    <div>The following is a breakdown of how your team answered the questions regarding Creative Inspiration.</div>
    <div><br></div>
    <div><br></div>
</div>
<div v-if="*|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|* < 16">
    <!-- CR SCORE < 16 -->
    <div><strong><span class="font-xlarge" style="color: rgb(0, 176, 240);">CREATIVE INSPIRATION</strong></span>
    </div>
    <div><br></div>
    <div>This score corresponds to your team’s ability to find and discover creative inspiration that can be applied to innovative outcomes. Your organization is rated as<strong>&nbsp;<span style="color: rgb(223, 83, 83);">BELOW AVERAGE</span></strong> in
        this category, scoring an average of <strong><span style="color: rgb(223, 83, 83);">*|EXTERNAL_FIELD_CREATIVE_INSPIRATION_AVG|*</span></strong>out of a total of 25 points. &nbsp;</div>
    <div><br></div>
    <div>The following is a breakdown of how your team answered the questions regarding Creative Inspiration.</div>
    <div><br></div>
    <div><br></div>
</div>