<div v-if="*|EXTERNAL_FIELD_IMPLEMENTATION_AVG|* > 21">
    <!-- CR SCORE > 21 -->
    <div><strong><span class="font-xlarge" style="color: rgb(0, 176, 240);">IMPLEMENTATION</span></strong></div>
    <div><br></div>
    <div>This score shows how well your team is equipped to sort out the best ideas and put them into action. Your organization is rated as <strong><span style="color: rgb(0, 176, 240);">EXCELLENT</span></strong> in this category, scoring an average of
        <strong><span style="color: rgb(0, 176, 240);">*|EXTERNAL_FIELD_IMPLEMENTATION_AVG|*</span></strong> out of a total of 25 points. &nbsp;</div>
    <div><br></div>
    <div>Way to go!</div>
    <div><br></div>
    <div>The following is a breakdown of how your team answered the questions regarding Implementation.</div>
    <div><br></div>
    <div><br></div>
</div>
<div v-if="*|EXTERNAL_FIELD_IMPLEMENTATION_AVG|* < 22 && *|EXTERNAL_FIELD_IMPLEMENTATION_AVG|* > 18">
    <!-- 22 > CR SCORE > 18 -->
    <div><strong><span class="font-xlarge" style="color: rgb(0, 176, 240);">IMPLEMENTATION</span></strong></div>
    <div><br></div>
    <div>This score shows how well your team is equipped to sort out the best ideas and put them into action. Your organization is rated as <strong><span style="color: rgb(85, 191, 59);">ABOVE AVERAGE</span></strong> in this category, scoring an average of
        <strong><span style="color: rgb(85, 191, 59);">*|EXTERNAL_FIELD_IMPLEMENTATION_AVG|*</span></strong> out of a total of 25 points. &nbsp;</div>
    <div><br></div>
    <div>Way to go!</div>
    <div><br></div>
    <div>The following is a breakdown of how your team answered the questions regarding Implementation.</div>
    <div><br></div>
    <div><br></div>
</div>
<div v-if="*|EXTERNAL_FIELD_IMPLEMENTATION_AVG|* < 19 && *|EXTERNAL_FIELD_IMPLEMENTATION_AVG|* > 16">
    <!-- 22 > CR SCORE > 18 -->
    <div><strong><span class="font-xlarge" style="color: rgb(0, 176, 240);">IMPLEMENTATION</span></strong></div>
    <div><br></div>
    <div>This score shows how well your team is equipped to sort out the best ideas and put them into action. Your organization is rated as<strong><span style="color: rgb(221, 223, 13);">AVERAGE</span></strong> in this category, scoring an average of
        <strong><span style="color: rgb(221, 223, 13);">*|EXTERNAL_FIELD_IMPLEMENTATION_AVG|*</span</strong> out of a total of 25 points. &nbsp;</div>
    <div><br></div>
    <div>The following is a breakdown of how your team answered the questions regarding Implementation.</div>
    <div><br></div>
    <div><br></div>
</div>
<div v-if="*|EXTERNAL_FIELD_IMPLEMENTATION_AVG|* < 17">
    <!-- CR SCORE < 16 -->
    <div><strong><span class="font-xlarge" style="color: rgb(0, 176, 240);">IMPLEMENTATION</strong></span>
    </div>
    <div><br></div>
    <div>This score shows how well your team is equipped to sort out the best ideas and put them into action. Your organization is rated as<strong><span style="color: rgb(223, 83, 83);">BELOW AVERAGE</span></strong> in this category, scoring an average of
        <strong><span style="color: rgb(223, 83, 83);">*|EXTERNAL_FIELD_IMPLEMENTATION_AVG|*</span></strong> out of a total of 25 points. &nbsp;</div>
    <div><br></div>
    <div>The following is a breakdown of how your team answered the questions regarding Implementation.</div>
    <div><br></div>
    <div><br></div>
</div>