/* CUSTOM CHART COLORS */

#widget_2.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(1) {
    fill: #333b50;
}

#widget_2.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(2) {
    fill: #0fa3b1;
}

#widget_2.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(3) {
    fill: #ffbe0b;
}

#widget_2.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(4) {
    fill: #ff6f61;
}

#widget_2.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(5) {
    fill: #4e6ca0;
}


/* TABLE COLORS */

.template-widget.table thead tr:nth-child(1) th:nth-child(1) {
    background-color: #333b50 !important;
    color: white !important;
}

.template-widget.table tbody tr:nth-child(1) td:nth-child(1) {
    background-color: #0fa3b1 !important;
    color: white !important;
}

.template-widget.table tbody tr:nth-child(2) td:nth-child(1) {
    background-color: #ffbe0b !important;
    color: white !important;
}

.template-widget.table tbody tr:nth-child(3) td:nth-child(1) {
    background-color: #ff6f61 !important;
    color: white !important;
}

.template-widget.table tbody tr:nth-child(4) td:nth-child(1) {
    background-color: #4e6ca0 !important;
    color: white !important;
}


/* CUSTOM CHART 2 COLORS */

#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(1),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(2),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(3),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(4) {
    fill: #333b50;
}

#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(5),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(6),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(7) {
    fill: #0fa3b1;
}

#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(8),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(9),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(10),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(11) {
    fill: #ffbe0b;
}

#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(12),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(13),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(14),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(15) {
    fill: #ff6f61;
}

#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(16),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(17),
#widget_6.template-widget.spiderchart .highcharts-series-group .highcharts-point:nth-child(18) {
    fill: #4e6ca0;
}


/* CUSTOM TABLE COLORS */

.fr-view table th {
    background: none !important;
    font-weight: 300;
}

.color-1 {
    background-color: #333b50;
    color: white;
}

.color-2 {
    background-color: #0fa3b1;
    color: white;
}

.color-3 {
    background-color: #ffbe0b;
    color: white;
}

.color-4 {
    background-color: #ff6f61;
    color: white;
}

.color-5 {
    background-color: #4e6ca0;
    color: white;
}