/* --- COVER PAGE --- */

section.title-page p,
section.title-page .bottom-container div,
section.title-page .bottom-container div {
    padding-top: 775px;
    padding-left: 75px;
}


/* --- PAGES --- */

.template-widget.gauge_widget.column-left {
    max-height: 150px;
}

.template-widget.gauge_widget text.highcharts-title {
    transform: translateY(40px);
}

.chart-wrapper .chart-container {
    margin-top: -50px;
}

.template-widget.text.fr-view.column-right .font-medium {
    margin-top: -25px;
}

.fr-view table td,
.fr-view table th {
    border: none !important;
}

.template-widget.text.fr-view.column-center table th {
    background: none;
}