/* body {
    background-color: rgba(201, 76, 76, 0.3);
}

div.datylon-container g#Layer_1 path:first-child {
    fill: none !important;
}

div.datylon-container g#Circle_Categories_Labels g.category-labels {
    display: none;
} */