/* p {
    line-height: 2em;
} */


/* li{
    line-height: 2em;
} */


/* .footer-container {
    height: 50px;
} */

#foot span {
    text-align: center!important;
}


/* --- PAGEBREAK FIX --- */

.page {
    height: 1121px;
    width: 810px;
    margin: 50px 0px 0px 0px !important;
}

.page-header-space,
.page-footer-space {
    height: 0px;
}

.footer-container {
    height: 50px;
    width: 98%;
}

.header-container {
    height: 50px;
    width: 98%;
}